[class^="icon-custom-"],
[class*=" icon-custom-"] {
  width: 16px;
  height: 24px;
  vertical-align: bottom;
  background-image: url("https://alttpr.s3.us-east-2.amazonaws.com/sprites.31.0.8.png");
}

.icon-custom-Random {
  background-position: 0 0;
}
.icon-custom-Link {
  background-position: percentage((1 - 344)/ 343) 0;
}
.icon-custom-FourSwordsLink {
  background-position: percentage((2 - 344)/ 343) 0;
}
.icon-custom-Abigail {
  background-position: percentage((3 - 344)/ 343) 0;
}
.icon-custom-Adol {
  background-position: percentage((4 - 344)/ 343) 0;
}
.icon-custom-Aggretsuko {
  background-position: percentage((5 - 344)/ 343) 0;
}
.icon-custom-Alice {
  background-position: percentage((6 - 344)/ 343) 0;
}
.icon-custom-AngryVideoGameNerd {
  background-position: percentage((7 - 344)/ 343) 0;
}
.icon-custom-Arcane {
  background-position: percentage((8 - 344)/ 343) 0;
}
.icon-custom-ArkNoCape {
  background-position: percentage((9 - 344)/ 343) 0;
}
.icon-custom-ArkCape {
  background-position: percentage((10 - 344)/ 343) 0;
}
.icon-custom-Arrghus {
  background-position: percentage((11 - 344)/ 343) 0;
}
.icon-custom-Astronaut {
  background-position: percentage((12 - 344)/ 343) 0;
}
.icon-custom-Asuna {
  background-position: percentage((13 - 344)/ 343) 0;
}
.icon-custom-Badeline {
  background-position: percentage((14 - 344)/ 343) 0;
}
.icon-custom-BananasInPyjamas {
  background-position: percentage((15 - 344)/ 343) 0;
}
.icon-custom-Bandit {
  background-position: percentage((16 - 344)/ 343) 0;
}
.icon-custom-Batman {
  background-position: percentage((17 - 344)/ 343) 0;
}
.icon-custom-Beau {
  background-position: percentage((18 - 344)/ 343) 0;
}
.icon-custom-Bewp {
  background-position: percentage((19 - 344)/ 343) 0;
}
.icon-custom-BigKey {
  background-position: percentage((20 - 344)/ 343) 0;
}
.icon-custom-Birb {
  background-position: percentage((21 - 344)/ 343) 0;
}
.icon-custom-Birdo {
  background-position: percentage((22 - 344)/ 343) 0;
}
.icon-custom-BlackMage {
  background-position: percentage((23 - 344)/ 343) 0;
}
.icon-custom-BlacksmithLink {
  background-position: percentage((24 - 344)/ 343) 0;
}
.icon-custom-Blazer {
  background-position: percentage((25 - 344)/ 343) 0;
}
.icon-custom-Blossom {
  background-position: percentage((26 - 344)/ 343) 0;
}
.icon-custom-Bob {
  background-position: percentage((27 - 344)/ 343) 0;
}
.icon-custom-BobRoss {
  background-position: percentage((28 - 344)/ 343) 0;
}
.icon-custom-BocotheChocobo {
  background-position: percentage((29 - 344)/ 343) 0;
}
.icon-custom-Boo2 {
  background-position: percentage((30 - 344)/ 343) 0;
}
.icon-custom-Boo {
  background-position: percentage((31 - 344)/ 343) 0;
}
.icon-custom-BottleoGoo {
  background-position: percentage((32 - 344)/ 343) 0;
}
.icon-custom-BotWLink {
  background-position: percentage((33 - 344)/ 343) 0;
}
.icon-custom-BotWZelda {
  background-position: percentage((34 - 344)/ 343) 0;
}
.icon-custom-Bowser {
  background-position: percentage((35 - 344)/ 343) 0;
}
.icon-custom-BowsetteRed {
  background-position: percentage((36 - 344)/ 343) 0;
}
.icon-custom-Bowsette {
  background-position: percentage((37 - 344)/ 343) 0;
}
.icon-custom-Branch {
  background-position: percentage((38 - 344)/ 343) 0;
}
.icon-custom-Brian {
  background-position: percentage((39 - 344)/ 343) 0;
}
.icon-custom-Broccoli {
  background-position: percentage((40 - 344)/ 343) 0;
}
.icon-custom-Bronzor {
  background-position: percentage((41 - 344)/ 343) 0;
}
.icon-custom-BSBoy {
  background-position: percentage((42 - 344)/ 343) 0;
}
.icon-custom-BSGirl {
  background-position: percentage((43 - 344)/ 343) 0;
}
.icon-custom-Bubbles {
  background-position: percentage((44 - 344)/ 343) 0;
}
.icon-custom-BulletBill {
  background-position: percentage((45 - 344)/ 343) 0;
}
.icon-custom-Buttercup {
  background-position: percentage((46 - 344)/ 343) 0;
}
.icon-custom-Cactuar {
  background-position: percentage((47 - 344)/ 343) 0;
}
.icon-custom-Cadence {
  background-position: percentage((48 - 344)/ 343) 0;
}
.icon-custom-CarlSagan42 {
  background-position: percentage((49 - 344)/ 343) 0;
}
.icon-custom-CasualZelda {
  background-position: percentage((50 - 344)/ 343) 0;
}
.icon-custom-MarvintheCat {
  background-position: percentage((51 - 344)/ 343) 0;
}
.icon-custom-CatBoo {
  background-position: percentage((52 - 344)/ 343) 0;
}
.icon-custom-CD-iLink {
  background-position: percentage((53 - 344)/ 343) 0;
}
.icon-custom-Celes {
  background-position: percentage((54 - 344)/ 343) 0;
}
.icon-custom-Charizard {
  background-position: percentage((55 - 344)/ 343) 0;
}
.icon-custom-CheepCheep {
  background-position: percentage((56 - 344)/ 343) 0;
}
.icon-custom-Chibity {
  background-position: percentage((57 - 344)/ 343) 0;
}
.icon-custom-Chrizzz {
  background-position: percentage((58 - 344)/ 343) 0;
}
.icon-custom-Cinna {
  background-position: percentage((59 - 344)/ 343) 0;
}
.icon-custom-Cirno {
  background-position: percentage((60 - 344)/ 343) 0;
}
.icon-custom-Clifford {
  background-position: percentage((61 - 344)/ 343) 0;
}
.icon-custom-Clyde {
  background-position: percentage((62 - 344)/ 343) 0;
}
.icon-custom-Conker {
  background-position: percentage((63 - 344)/ 343) 0;
}
.icon-custom-Cornelius {
  background-position: percentage((64 - 344)/ 343) 0;
}
.icon-custom-Corona {
  background-position: percentage((65 - 344)/ 343) 0;
}
.icon-custom-Crewmate {
  background-position: percentage((66 - 344)/ 343) 0;
}
.icon-custom-Cucco {
  background-position: percentage((67 - 344)/ 343) 0;
}
.icon-custom-Cursor {
  background-position: percentage((68 - 344)/ 343) 0;
}
.icon-custom-DOwls {
  background-position: percentage((69 - 344)/ 343) 0;
}
.icon-custom-DarkPanda {
  background-position: percentage((70 - 344)/ 343) 0;
}
.icon-custom-DarkBoy {
  background-position: percentage((71 - 344)/ 343) 0;
}
.icon-custom-DarkGirl {
  background-position: percentage((72 - 344)/ 343) 0;
}
.icon-custom-DarkLinkTunic {
  background-position: percentage((73 - 344)/ 343) 0;
}
.icon-custom-DarkLink {
  background-position: percentage((74 - 344)/ 343) 0;
}
.icon-custom-DarkSwatchy {
  background-position: percentage((75 - 344)/ 343) 0;
}
.icon-custom-DarkZelda {
  background-position: percentage((76 - 344)/ 343) 0;
}
.icon-custom-DarkZora {
  background-position: percentage((77 - 344)/ 343) 0;
}
.icon-custom-DeadpoolMythic {
  background-position: percentage((78 - 344)/ 343) 0;
}
.icon-custom-DeadpoolSirCzah {
  background-position: percentage((79 - 344)/ 343) 0;
}
.icon-custom-Deadrock {
  background-position: percentage((80 - 344)/ 343) 0;
}
.icon-custom-Decidueye {
  background-position: percentage((81 - 344)/ 343) 0;
}
.icon-custom-Dekar {
  background-position: percentage((82 - 344)/ 343) 0;
}
.icon-custom-DemonLink {
  background-position: percentage((83 - 344)/ 343) 0;
}
.icon-custom-Dipper {
  background-position: percentage((84 - 344)/ 343) 0;
}
.icon-custom-Dragonite {
  background-position: percentage((85 - 344)/ 343) 0;
}
.icon-custom-DrakeTheDragon {
  background-position: percentage((86 - 344)/ 343) 0;
}
.icon-custom-Eggplant {
  background-position: percentage((87 - 344)/ 343) 0;
}
.icon-custom-EmaSkye {
  background-position: percentage((88 - 344)/ 343) 0;
}
.icon-custom-EmoSaru {
  background-position: percentage((89 - 344)/ 343) 0;
}
.icon-custom-Ezlo {
  background-position: percentage((90 - 344)/ 343) 0;
}
.icon-custom-FierceDeityLink {
  background-position: percentage((91 - 344)/ 343) 0;
}
.icon-custom-FinnMerten {
  background-position: percentage((92 - 344)/ 343) 0;
}
.icon-custom-FinnyBear {
  background-position: percentage((93 - 344)/ 343) 0;
}
.icon-custom-FloodgateFish {
  background-position: percentage((94 - 344)/ 343) 0;
}
.icon-custom-FlavorGuy {
  background-position: percentage((95 - 344)/ 343) 0;
}
.icon-custom-FoxLink {
  background-position: percentage((96 - 344)/ 343) 0;
}
.icon-custom-FreyaCrescent {
  background-position: percentage((97 - 344)/ 343) 0;
}
.icon-custom-Frisk {
  background-position: percentage((98 - 344)/ 343) 0;
}
.icon-custom-FrogLink {
  background-position: percentage((99 - 344)/ 343) 0;
}
.icon-custom-Fujin {
  background-position: percentage((100 - 344)/ 343) 0;
}
.icon-custom-FutureTrunks {
  background-position: percentage((101 - 344)/ 343) 0;
}
.icon-custom-Gamer {
  background-position: percentage((102 - 344)/ 343) 0;
}
.icon-custom-MiniGanon {
  background-position: percentage((103 - 344)/ 343) 0;
}
.icon-custom-Ganondorf {
  background-position: percentage((104 - 344)/ 343) 0;
}
.icon-custom-Garfield {
  background-position: percentage((105 - 344)/ 343) 0;
}
.icon-custom-Garnet {
  background-position: percentage((106 - 344)/ 343) 0;
}
.icon-custom-GaroMaster {
  background-position: percentage((107 - 344)/ 343) 0;
}
.icon-custom-GBCLink {
  background-position: percentage((108 - 344)/ 343) 0;
}
.icon-custom-Geno {
  background-position: percentage((109 - 344)/ 343) 0;
}
.icon-custom-GliitchWiitch {
  background-position: percentage((110 - 344)/ 343) 0;
}
.icon-custom-Gobli {
  background-position: percentage((111 - 344)/ 343) 0;
}
.icon-custom-Gooey {
  background-position: percentage((112 - 344)/ 343) 0;
}
.icon-custom-Goomba {
  background-position: percentage((113 - 344)/ 343) 0;
}
.icon-custom-Goose {
  background-position: percentage((114 - 344)/ 343) 0;
}
.icon-custom-GrandPOOBear {
  background-position: percentage((115 - 344)/ 343) 0;
}
.icon-custom-Gretis {
  background-position: percentage((116 - 344)/ 343) 0;
}
.icon-custom-GruncleStan {
  background-position: percentage((117 - 344)/ 343) 0;
}
.icon-custom-Guiz {
  background-position: percentage((118 - 344)/ 343) 0;
}
.icon-custom-Hanna {
  background-position: percentage((119 - 344)/ 343) 0;
}
.icon-custom-HardhatBeetle {
  background-position: percentage((120 - 344)/ 343) 0;
}
.icon-custom-HatKid {
  background-position: percentage((121 - 344)/ 343) 0;
}
.icon-custom-HeadlessLink {
  background-position: percentage((122 - 344)/ 343) 0;
}
.icon-custom-HelloKitty {
  background-position: percentage((123 - 344)/ 343) 0;
}
.icon-custom-HeroofAwakening {
  background-position: percentage((124 - 344)/ 343) 0;
}
.icon-custom-HeroofHyrule {
  background-position: percentage((125 - 344)/ 343) 0;
}
.icon-custom-Hidari {
  background-position: percentage((126 - 344)/ 343) 0;
}
.icon-custom-HintTile {
  background-position: percentage((127 - 344)/ 343) 0;
}
.icon-custom-HoarderBush {
  background-position: percentage((128 - 344)/ 343) 0;
}
.icon-custom-HoarderPot {
  background-position: percentage((129 - 344)/ 343) 0;
}
.icon-custom-HoarderRock {
  background-position: percentage((130 - 344)/ 343) 0;
}
.icon-custom-HollowKnightMalmoWinter {
  background-position: percentage((131 - 344)/ 343) 0;
}
.icon-custom-HollowKnight {
  background-position: percentage((132 - 344)/ 343) 0;
}
.icon-custom-HomerSimpson {
  background-position: percentage((133 - 344)/ 343) 0;
}
.icon-custom-Hotdog {
  background-position: percentage((134 - 344)/ 343) 0;
}
.icon-custom-HyruleKnight {
  background-position: percentage((135 - 344)/ 343) 0;
}
.icon-custom-iBazly {
  background-position: percentage((136 - 344)/ 343) 0;
}
.icon-custom-Ignignokt {
  background-position: percentage((137 - 344)/ 343) 0;
}
.icon-custom-InformantWoman {
  background-position: percentage((138 - 344)/ 343) 0;
}
.icon-custom-Inkling {
  background-position: percentage((139 - 344)/ 343) 0;
}
.icon-custom-InvisibleLink {
  background-position: percentage((140 - 344)/ 343) 0;
}
.icon-custom-JackFrost {
  background-position: percentage((141 - 344)/ 343) 0;
}
.icon-custom-JasonFrudnick {
  background-position: percentage((142 - 344)/ 343) 0;
}
.icon-custom-Jasp {
  background-position: percentage((143 - 344)/ 343) 0;
}
.icon-custom-Jogurt {
  background-position: percentage((144 - 344)/ 343) 0;
}
.icon-custom-Kain {
  background-position: percentage((145 - 344)/ 343) 0;
}
.icon-custom-Katsura {
  background-position: percentage((146 - 344)/ 343) 0;
}
.icon-custom-Kecleon {
  background-position: percentage((147 - 344)/ 343) 0;
}
.icon-custom-Kefka {
  background-position: percentage((148 - 344)/ 343) 0;
}
.icon-custom-KennyMcCormick {
  background-position: percentage((149 - 344)/ 343) 0;
}
.icon-custom-Ketchup {
  background-position: percentage((150 - 344)/ 343) 0;
}
.icon-custom-Kholdstare {
  background-position: percentage((151 - 344)/ 343) 0;
}
.icon-custom-KingGothalion {
  background-position: percentage((152 - 344)/ 343) 0;
}
.icon-custom-KingGraham {
  background-position: percentage((153 - 344)/ 343) 0;
}
.icon-custom-Kinu {
  background-position: percentage((154 - 344)/ 343) 0;
}
.icon-custom-KirbyDreamland3 {
  background-position: percentage((155 - 344)/ 343) 0;
}
.icon-custom-Kirby {
  background-position: percentage((156 - 344)/ 343) 0;
}
.icon-custom-Kore8 {
  background-position: percentage((157 - 344)/ 343) 0;
}
.icon-custom-Korok {
  background-position: percentage((158 - 344)/ 343) 0;
}
.icon-custom-Kriv {
  background-position: percentage((159 - 344)/ 343) 0;
}
.icon-custom-Lakitu {
  background-position: percentage((160 - 344)/ 343) 0;
}
.icon-custom-Lapras {
  background-position: percentage((161 - 344)/ 343) 0;
}
.icon-custom-Lest {
  background-position: percentage((162 - 344)/ 343) 0;
}
.icon-custom-Lily {
  background-position: percentage((163 - 344)/ 343) 0;
}
.icon-custom-Linja {
  background-position: percentage((164 - 344)/ 343) 0;
}
.icon-custom-LinkRedrawn {
  background-position: percentage((165 - 344)/ 343) 0;
}
.icon-custom-HatColorLink {
  background-position: percentage((166 - 344)/ 343) 0;
}
.icon-custom-TunicColorLink {
  background-position: percentage((167 - 344)/ 343) 0;
}
.icon-custom-LittleHylian {
  background-position: percentage((168 - 344)/ 343) 0;
}
.icon-custom-Pony {
  background-position: percentage((169 - 344)/ 343) 0;
}
.icon-custom-Locke {
  background-position: percentage((170 - 344)/ 343) 0;
}
.icon-custom-FigaroMerchant {
  background-position: percentage((171 - 344)/ 343) 0;
}
.icon-custom-Lucario {
  background-position: percentage((172 - 344)/ 343) 0;
}
.icon-custom-Luffy {
  background-position: percentage((173 - 344)/ 343) 0;
}
.icon-custom-Luigi {
  background-position: percentage((174 - 344)/ 343) 0;
}
.icon-custom-LunaMaindo {
  background-position: percentage((175 - 344)/ 343) 0;
}
.icon-custom-LynelBotW {
  background-position: percentage((176 - 344)/ 343) 0;
}
.icon-custom-Madeline {
  background-position: percentage((177 - 344)/ 343) 0;
}
.icon-custom-Magus {
  background-position: percentage((178 - 344)/ 343) 0;
}
.icon-custom-Maiden {
  background-position: percentage((179 - 344)/ 343) 0;
}
.icon-custom-MallowCat {
  background-position: percentage((180 - 344)/ 343) 0;
}
.icon-custom-MangaLink {
  background-position: percentage((181 - 344)/ 343) 0;
}
.icon-custom-MapleQueen {
  background-position: percentage((182 - 344)/ 343) 0;
}
.icon-custom-Marin {
  background-position: percentage((183 - 344)/ 343) 0;
}
.icon-custom-MarioClassic {
  background-position: percentage((184 - 344)/ 343) 0;
}
.icon-custom-TanookiMario {
  background-position: percentage((185 - 344)/ 343) 0;
}
.icon-custom-MarioandCappy {
  background-position: percentage((186 - 344)/ 343) 0;
}
.icon-custom-MarisaKirisame {
  background-position: percentage((187 - 344)/ 343) 0;
}
.icon-custom-Matthias {
  background-position: percentage((188 - 344)/ 343) 0;
}
.icon-custom-Meatwad {
  background-position: percentage((189 - 344)/ 343) 0;
}
.icon-custom-Medallions {
  background-position: percentage((190 - 344)/ 343) 0;
}
.icon-custom-Medli {
  background-position: percentage((191 - 344)/ 343) 0;
}
.icon-custom-MegamanX {
  background-position: percentage((192 - 344)/ 343) 0;
}
.icon-custom-BabyMetroid {
  background-position: percentage((193 - 344)/ 343) 0;
}
.icon-custom-MewLp {
  background-position: percentage((194 - 344)/ 343) 0;
}
.icon-custom-MikeJones {
  background-position: percentage((195 - 344)/ 343) 0;
}
.icon-custom-MinishLink {
  background-position: percentage((196 - 344)/ 343) 0;
}
.icon-custom-MinishCapLink {
  background-position: percentage((197 - 344)/ 343) 0;
}
.icon-custom-missingno {
  background-position: percentage((198 - 344)/ 343) 0;
}
.icon-custom-Moblin {
  background-position: percentage((199 - 344)/ 343) 0;
}
.icon-custom-ModernLink {
  background-position: percentage((200 - 344)/ 343) 0;
}
.icon-custom-Mog {
  background-position: percentage((201 - 344)/ 343) 0;
}
.icon-custom-MomijiInubashiri {
  background-position: percentage((202 - 344)/ 343) 0;
}
.icon-custom-Moosh {
  background-position: percentage((203 - 344)/ 343) 0;
}
.icon-custom-Mouse {
  background-position: percentage((204 - 344)/ 343) 0;
}
.icon-custom-MsPaintDog {
  background-position: percentage((205 - 344)/ 343) 0;
}
.icon-custom-PowerUpwithPrideMushroom {
  background-position: percentage((206 - 344)/ 343) 0;
}
.icon-custom-NatureLink {
  background-position: percentage((207 - 344)/ 343) 0;
}
.icon-custom-Navi {
  background-position: percentage((208 - 344)/ 343) 0;
}
.icon-custom-Navirou {
  background-position: percentage((209 - 344)/ 343) 0;
}
.icon-custom-NedFlanders {
  background-position: percentage((210 - 344)/ 343) 0;
}
.icon-custom-NegativeLink {
  background-position: percentage((211 - 344)/ 343) 0;
}
.icon-custom-Neosad {
  background-position: percentage((212 - 344)/ 343) 0;
}
.icon-custom-NESLink {
  background-position: percentage((213 - 344)/ 343) 0;
}
.icon-custom-Ness {
  background-position: percentage((214 - 344)/ 343) 0;
}
.icon-custom-Nia {
  background-position: percentage((215 - 344)/ 343) 0;
}
.icon-custom-Niddraig {
  background-position: percentage((216 - 344)/ 343) 0;
}
.icon-custom-Niko {
  background-position: percentage((217 - 344)/ 343) 0;
}
.icon-custom-OldMan {
  background-position: percentage((218 - 344)/ 343) 0;
}
.icon-custom-Ori {
  background-position: percentage((219 - 344)/ 343) 0;
}
.icon-custom-OutlineLink {
  background-position: percentage((220 - 344)/ 343) 0;
}
.icon-custom-ParallelWorldsLink {
  background-position: percentage((221 - 344)/ 343) 0;
}
.icon-custom-Paula {
  background-position: percentage((222 - 344)/ 343) 0;
}
.icon-custom-PrincessPeach {
  background-position: percentage((223 - 344)/ 343) 0;
}
.icon-custom-PenguinLink {
  background-position: percentage((224 - 344)/ 343) 0;
}
.icon-custom-Pete {
  background-position: percentage((225 - 344)/ 343) 0;
}
.icon-custom-PhoenixWright {
  background-position: percentage((226 - 344)/ 343) 0;
}
.icon-custom-Pikachu {
  background-position: percentage((227 - 344)/ 343) 0;
}
.icon-custom-PinkRibbonLink {
  background-position: percentage((228 - 344)/ 343) 0;
}
.icon-custom-PiranhaPlant {
  background-position: percentage((229 - 344)/ 343) 0;
}
.icon-custom-PlagueKnight {
  background-position: percentage((230 - 344)/ 343) 0;
}
.icon-custom-Pokey {
  background-position: percentage((231 - 344)/ 343) 0;
}
.icon-custom-Popoi {
  background-position: percentage((232 - 344)/ 343) 0;
}
.icon-custom-Poppy {
  background-position: percentage((233 - 344)/ 343) 0;
}
.icon-custom-PorgKnight {
  background-position: percentage((234 - 344)/ 343) 0;
}
.icon-custom-PowerRanger {
  background-position: percentage((235 - 344)/ 343) 0;
}
.icon-custom-PowerpuffGirl {
  background-position: percentage((236 - 344)/ 343) 0;
}
.icon-custom-PrideLink {
  background-position: percentage((237 - 344)/ 343) 0;
}
.icon-custom-Primm {
  background-position: percentage((238 - 344)/ 343) 0;
}
.icon-custom-PrincessBubblegum {
  background-position: percentage((239 - 344)/ 343) 0;
}
.icon-custom-TheProfessor {
  background-position: percentage((240 - 344)/ 343) 0;
}
.icon-custom-Psyduck {
  background-position: percentage((241 - 344)/ 343) 0;
}
.icon-custom-ThePug {
  background-position: percentage((242 - 344)/ 343) 0;
}
.icon-custom-PurpleChest {
  background-position: percentage((243 - 344)/ 343) 0;
}
.icon-custom-Pyro {
  background-position: percentage((244 - 344)/ 343) 0;
}
.icon-custom-QuadBanger {
  background-position: percentage((245 - 344)/ 343) 0;
}
.icon-custom-RainbowLink {
  background-position: percentage((246 - 344)/ 343) 0;
}
.icon-custom-Rat {
  background-position: percentage((247 - 344)/ 343) 0;
}
.icon-custom-RedMage {
  background-position: percentage((248 - 344)/ 343) 0;
}
.icon-custom-Remeer {
  background-position: percentage((249 - 344)/ 343) 0;
}
.icon-custom-RemusRBlack {
  background-position: percentage((250 - 344)/ 343) 0;
}
.icon-custom-Rick {
  background-position: percentage((251 - 344)/ 343) 0;
}
.icon-custom-Robo-Link9000 {
  background-position: percentage((252 - 344)/ 343) 0;
}
.icon-custom-Rocko {
  background-position: percentage((253 - 344)/ 343) 0;
}
.icon-custom-Rottytops {
  background-position: percentage((254 - 344)/ 343) 0;
}
.icon-custom-Rover {
  background-position: percentage((255 - 344)/ 343) 0;
}
.icon-custom-RoyKoopa {
  background-position: percentage((256 - 344)/ 343) 0;
}
.icon-custom-Rumia {
  background-position: percentage((257 - 344)/ 343) 0;
}
.icon-custom-Rydia {
  background-position: percentage((258 - 344)/ 343) 0;
}
.icon-custom-Ryu {
  background-position: percentage((259 - 344)/ 343) 0;
}
.icon-custom-SailorMoon {
  background-position: percentage((260 - 344)/ 343) 0;
}
.icon-custom-Saitama {
  background-position: percentage((261 - 344)/ 343) 0;
}
.icon-custom-SamusSuperMetroid {
  background-position: percentage((262 - 344)/ 343) 0;
}
.icon-custom-Samus {
  background-position: percentage((263 - 344)/ 343) 0;
}
.icon-custom-SamusClassic {
  background-position: percentage((264 - 344)/ 343) 0;
}
.icon-custom-SantaHatLink {
  background-position: percentage((265 - 344)/ 343) 0;
}
.icon-custom-SantaLink {
  background-position: percentage((266 - 344)/ 343) 0;
}
.icon-custom-Scholar {
  background-position: percentage((267 - 344)/ 343) 0;
}
.icon-custom-Selan {
  background-position: percentage((268 - 344)/ 343) 0;
}
.icon-custom-SevenS1ns {
  background-position: percentage((269 - 344)/ 343) 0;
}
.icon-custom-Shadow {
  background-position: percentage((270 - 344)/ 343) 0;
}
.icon-custom-ShadowSakura {
  background-position: percentage((271 - 344)/ 343) 0;
}
.icon-custom-Shantae {
  background-position: percentage((272 - 344)/ 343) 0;
}
.icon-custom-Shuppet {
  background-position: percentage((273 - 344)/ 343) 0;
}
.icon-custom-ShyGal {
  background-position: percentage((274 - 344)/ 343) 0;
}
.icon-custom-ShyGuy {
  background-position: percentage((275 - 344)/ 343) 0;
}
.icon-custom-SighnWaive {
  background-position: percentage((276 - 344)/ 343) 0;
}
.icon-custom-Skunk {
  background-position: percentage((277 - 344)/ 343) 0;
}
.icon-custom-Slime {
  background-position: percentage((278 - 344)/ 343) 0;
}
.icon-custom-Slowpoke {
  background-position: percentage((279 - 344)/ 343) 0;
}
.icon-custom-SNESController {
  background-position: percentage((280 - 344)/ 343) 0;
}
.icon-custom-SodaCan {
  background-position: percentage((281 - 344)/ 343) 0;
}
.icon-custom-SolaireofAstora {
  background-position: percentage((282 - 344)/ 343) 0;
}
.icon-custom-HyruleSoldier {
  background-position: percentage((283 - 344)/ 343) 0;
}
.icon-custom-SonictheHedgehog {
  background-position: percentage((284 - 344)/ 343) 0;
}
.icon-custom-Sora {
  background-position: percentage((285 - 344)/ 343) 0;
}
.icon-custom-SoraKH1 {
  background-position: percentage((286 - 344)/ 343) 0;
}
.icon-custom-SpongebobSquarepants {
  background-position: percentage((287 - 344)/ 343) 0;
}
.icon-custom-Squall {
  background-position: percentage((288 - 344)/ 343) 0;
}
.icon-custom-Squirrel {
  background-position: percentage((289 - 344)/ 343) 0;
}
.icon-custom-Squirtle {
  background-position: percentage((290 - 344)/ 343) 0;
}
.icon-custom-Stalfos {
  background-position: percentage((291 - 344)/ 343) 0;
}
.icon-custom-Stan {
  background-position: percentage((292 - 344)/ 343) 0;
}
.icon-custom-StaticLink {
  background-position: percentage((293 - 344)/ 343) 0;
}
.icon-custom-SteamedHams {
  background-position: percentage((294 - 344)/ 343) 0;
}
.icon-custom-StickMan {
  background-position: percentage((295 - 344)/ 343) 0;
}
.icon-custom-SuperBomb {
  background-position: percentage((296 - 344)/ 343) 0;
}
.icon-custom-SuperBunny {
  background-position: percentage((297 - 344)/ 343) 0;
}
.icon-custom-SuperMeatBoy {
  background-position: percentage((298 - 344)/ 343) 0;
}
.icon-custom-Susie {
  background-position: percentage((299 - 344)/ 343) 0;
}
.icon-custom-Swatchy {
  background-position: percentage((300 - 344)/ 343) 0;
}
.icon-custom-TASBot {
  background-position: percentage((301 - 344)/ 343) 0;
}
.icon-custom-TeaTime {
  background-position: percentage((302 - 344)/ 343) 0;
}
.icon-custom-TerraEsper {
  background-position: percentage((303 - 344)/ 343) 0;
}
.icon-custom-TerryContactDS {
  background-position: percentage((304 - 344)/ 343) 0;
}
.icon-custom-Tetra {
  background-position: percentage((305 - 344)/ 343) 0;
}
.icon-custom-TGH {
  background-position: percentage((306 - 344)/ 343) 0;
}
.icon-custom-Thief {
  background-position: percentage((307 - 344)/ 343) 0;
}
.icon-custom-ThinkDorm {
  background-position: percentage((308 - 344)/ 343) 0;
}
.icon-custom-Thomcrow {
  background-position: percentage((309 - 344)/ 343) 0;
}
.icon-custom-Tile {
  background-position: percentage((310 - 344)/ 343) 0;
}
.icon-custom-Tingle {
  background-position: percentage((311 - 344)/ 343) 0;
}
.icon-custom-TMNT {
  background-position: percentage((312 - 344)/ 343) 0;
}
.icon-custom-Toad {
  background-position: percentage((313 - 344)/ 343) 0;
}
.icon-custom-Toadette {
  background-position: percentage((314 - 344)/ 343) 0;
}
.icon-custom-CaptainToadette {
  background-position: percentage((315 - 344)/ 343) 0;
}
.icon-custom-TotemLinks {
  background-position: percentage((316 - 344)/ 343) 0;
}
.icon-custom-TrogdortheBurninator {
  background-position: percentage((317 - 344)/ 343) 0;
}
.icon-custom-TPZelda {
  background-position: percentage((318 - 344)/ 343) 0;
}
.icon-custom-TwoFaced {
  background-position: percentage((319 - 344)/ 343) 0;
}
.icon-custom-TytheTasmanianTiger {
  background-position: percentage((320 - 344)/ 343) 0;
}
.icon-custom-Ultros {
  background-position: percentage((321 - 344)/ 343) 0;
}
.icon-custom-Valeera {
  background-position: percentage((322 - 344)/ 343) 0;
}
.icon-custom-VanillaLink {
  background-position: percentage((323 - 344)/ 343) 0;
}
.icon-custom-Vaporeon {
  background-position: percentage((324 - 344)/ 343) 0;
}
.icon-custom-Vegeta {
  background-position: percentage((325 - 344)/ 343) 0;
}
.icon-custom-Vera {
  background-position: percentage((326 - 344)/ 343) 0;
}
.icon-custom-Vitreous {
  background-position: percentage((327 - 344)/ 343) 0;
}
.icon-custom-Vivi {
  background-position: percentage((328 - 344)/ 343) 0;
}
.icon-custom-Vivian {
  background-position: percentage((329 - 344)/ 343) 0;
}
.icon-custom-Wario {
  background-position: percentage((330 - 344)/ 343) 0;
}
.icon-custom-WhiteMage {
  background-position: percentage((331 - 344)/ 343) 0;
}
.icon-custom-Will {
  background-position: percentage((332 - 344)/ 343) 0;
}
.icon-custom-Wizzrobe {
  background-position: percentage((333 - 344)/ 343) 0;
}
.icon-custom-WolfLinkFestive {
  background-position: percentage((334 - 344)/ 343) 0;
}
.icon-custom-WolfLinkTP {
  background-position: percentage((335 - 344)/ 343) 0;
}
.icon-custom-Yoshi {
  background-position: percentage((336 - 344)/ 343) 0;
}
.icon-custom-YunicaTovah {
  background-position: percentage((337 - 344)/ 343) 0;
}
.icon-custom-Zandra {
  background-position: percentage((338 - 344)/ 343) 0;
}
.icon-custom-ZebraUnicorn {
  background-position: percentage((339 - 344)/ 343) 0;
}
.icon-custom-Zeckemyro {
  background-position: percentage((340 - 344)/ 343) 0;
}
.icon-custom-Zelda {
  background-position: percentage((341 - 344)/ 343) 0;
}
.icon-custom-ZeroSuitSamus {
  background-position: percentage((342 - 344)/ 343) 0;
}
.icon-custom-Zora {
  background-position: percentage((343 - 344)/ 343) 0;
}
