[class^="icon-custom-"],
[class*=" icon-custom-"] {
  width: 16px;
  height: 24px;
  vertical-align: bottom;
  background-image: url("https://alttpr-assets.s3.us-east-2.amazonaws.com/sprites.31.2.png");
}

.icon-custom-Random {
  background-position: 0 0;
}

.icon-custom-Link {
  background-position: percentage((1 - 514)/ 513) 0;
}

.icon-custom-Abigail {
  background-position: percentage((2 - 514)/ 513) 0;
}

.icon-custom-Adol {
  background-position: percentage((3 - 514)/ 513) 0;
}

.icon-custom-Adventure2600 {
  background-position: percentage((4 - 514)/ 513) 0;
}

.icon-custom-Aggretsuko {
  background-position: percentage((5 - 514)/ 513) 0;
}

.icon-custom-Agrias {
  background-position: percentage((6 - 514)/ 513) 0;
}

.icon-custom-Alcoon {
  background-position: percentage((7 - 514)/ 513) 0;
}

.icon-custom-Alex {
  background-position: percentage((8 - 514)/ 513) 0;
}

.icon-custom-Alice {
  background-position: percentage((9 - 514)/ 513) 0;
}

.icon-custom-Angel {
  background-position: percentage((10 - 514)/ 513) 0;
}

.icon-custom-AngryVideoGameNerd {
  background-position: percentage((11 - 514)/ 513) 0;
}

.icon-custom-AnnaLavellan {
  background-position: percentage((12 - 514)/ 513) 0;
}

.icon-custom-Arcane {
  background-position: percentage((13 - 514)/ 513) 0;
}

.icon-custom-Archen {
  background-position: percentage((14 - 514)/ 513) 0;
}

.icon-custom-ArcticArtemisFox {
  background-position: percentage((15 - 514)/ 513) 0;
}

.icon-custom-ArcturusChusky {
  background-position: percentage((16 - 514)/ 513) 0;
}

.icon-custom-Aria {
  background-position: percentage((17 - 514)/ 513) 0;
}

.icon-custom-ArkNoCape {
  background-position: percentage((18 - 514)/ 513) 0;
}

.icon-custom-ArkCape {
  background-position: percentage((19 - 514)/ 513) 0;
}

.icon-custom-Arrghus {
  background-position: percentage((20 - 514)/ 513) 0;
}

.icon-custom-Astor {
  background-position: percentage((21 - 514)/ 513) 0;
}

.icon-custom-Astronaut {
  background-position: percentage((22 - 514)/ 513) 0;
}

.icon-custom-Asuna {
  background-position: percentage((23 - 514)/ 513) 0;
}

.icon-custom-Axolotl {
  background-position: percentage((24 - 514)/ 513) 0;
}

.icon-custom-Baba {
  background-position: percentage((25 - 514)/ 513) 0;
}

.icon-custom-BabyFro {
  background-position: percentage((26 - 514)/ 513) 0;
}

.icon-custom-Badeline {
  background-position: percentage((27 - 514)/ 513) 0;
}

.icon-custom-BananasInPyjamas {
  background-position: percentage((28 - 514)/ 513) 0;
}

.icon-custom-Bandit {
  background-position: percentage((29 - 514)/ 513) 0;
}

.icon-custom-Batman {
  background-position: percentage((30 - 514)/ 513) 0;
}

.icon-custom-BavarianLink {
  background-position: percentage((31 - 514)/ 513) 0;
}

.icon-custom-Beau {
  background-position: percentage((32 - 514)/ 513) 0;
}

.icon-custom-Bee {
  background-position: percentage((33 - 514)/ 513) 0;
}

.icon-custom-Bewp {
  background-position: percentage((34 - 514)/ 513) 0;
}

.icon-custom-BigKey {
  background-position: percentage((35 - 514)/ 513) 0;
}

.icon-custom-BirbofParadise {
  background-position: percentage((36 - 514)/ 513) 0;
}

.icon-custom-Birb {
  background-position: percentage((37 - 514)/ 513) 0;
}

.icon-custom-Birdfruit {
  background-position: percentage((38 - 514)/ 513) 0;
}

.icon-custom-Birdo {
  background-position: percentage((39 - 514)/ 513) 0;
}

.icon-custom-BlackMage {
  background-position: percentage((40 - 514)/ 513) 0;
}

.icon-custom-BlacksmithLink {
  background-position: percentage((41 - 514)/ 513) 0;
}

.icon-custom-Blazer {
  background-position: percentage((42 - 514)/ 513) 0;
}

.icon-custom-Blossom {
  background-position: percentage((43 - 514)/ 513) 0;
}

.icon-custom-Blue {
  background-position: percentage((44 - 514)/ 513) 0;
}

.icon-custom-Bob {
  background-position: percentage((45 - 514)/ 513) 0;
}

.icon-custom-BobRoss {
  background-position: percentage((46 - 514)/ 513) 0;
}

.icon-custom-BocotheChocobo {
  background-position: percentage((47 - 514)/ 513) 0;
}

.icon-custom-Bomberman {
  background-position: percentage((48 - 514)/ 513) 0;
}

.icon-custom-Boo2 {
  background-position: percentage((49 - 514)/ 513) 0;
}

.icon-custom-Boo {
  background-position: percentage((50 - 514)/ 513) 0;
}

.icon-custom-BottleoGoo {
  background-position: percentage((51 - 514)/ 513) 0;
}

.icon-custom-BotWLink {
  background-position: percentage((52 - 514)/ 513) 0;
}

.icon-custom-BotWZelda {
  background-position: percentage((53 - 514)/ 513) 0;
}

.icon-custom-Bowser {
  background-position: percentage((54 - 514)/ 513) 0;
}

.icon-custom-Bowsette {
  background-position: percentage((55 - 514)/ 513) 0;
}

.icon-custom-BowsetteRed {
  background-position: percentage((56 - 514)/ 513) 0;
}

.icon-custom-Branch {
  background-position: percentage((57 - 514)/ 513) 0;
}

.icon-custom-Brian {
  background-position: percentage((58 - 514)/ 513) 0;
}

.icon-custom-Broccoli {
  background-position: percentage((59 - 514)/ 513) 0;
}

.icon-custom-Bronzor {
  background-position: percentage((60 - 514)/ 513) 0;
}

.icon-custom-BSBoy {
  background-position: percentage((61 - 514)/ 513) 0;
}

.icon-custom-BSGirl {
  background-position: percentage((62 - 514)/ 513) 0;
}

.icon-custom-Bubblen {
  background-position: percentage((63 - 514)/ 513) 0;
}

.icon-custom-Bubbles {
  background-position: percentage((64 - 514)/ 513) 0;
}

.icon-custom-BulletBill {
  background-position: percentage((65 - 514)/ 513) 0;
}

.icon-custom-Buttercup {
  background-position: percentage((66 - 514)/ 513) 0;
}

.icon-custom-Cactuar {
  background-position: percentage((67 - 514)/ 513) 0;
}

.icon-custom-Cadence {
  background-position: percentage((68 - 514)/ 513) 0;
}

.icon-custom-CaptainNovolin {
  background-position: percentage((69 - 514)/ 513) 0;
}

.icon-custom-CarlSagan42 {
  background-position: percentage((70 - 514)/ 513) 0;
}

.icon-custom-CasualZelda {
  background-position: percentage((71 - 514)/ 513) 0;
}

.icon-custom-MarvintheCat {
  background-position: percentage((72 - 514)/ 513) 0;
}

.icon-custom-CatBoo {
  background-position: percentage((73 - 514)/ 513) 0;
}

.icon-custom-CatgirlHidari {
  background-position: percentage((74 - 514)/ 513) 0;
}

.icon-custom-CD-iLink {
  background-position: percentage((75 - 514)/ 513) 0;
}

.icon-custom-Celes {
  background-position: percentage((76 - 514)/ 513) 0;
}

.icon-custom-CentaurEnos {
  background-position: percentage((77 - 514)/ 513) 0;
}

.icon-custom-Charizard {
  background-position: percentage((78 - 514)/ 513) 0;
}

.icon-custom-CheepCheep {
  background-position: percentage((79 - 514)/ 513) 0;
}

.icon-custom-ChefPepper {
  background-position: percentage((80 - 514)/ 513) 0;
}

.icon-custom-Chibity {
  background-position: percentage((81 - 514)/ 513) 0;
}

.icon-custom-Chrizzz {
  background-position: percentage((82 - 514)/ 513) 0;
}

.icon-custom-Cinna {
  background-position: percentage((83 - 514)/ 513) 0;
}

.icon-custom-Cirno {
  background-position: percentage((84 - 514)/ 513) 0;
}

.icon-custom-Clifford {
  background-position: percentage((85 - 514)/ 513) 0;
}

.icon-custom-Clippy {
  background-position: percentage((86 - 514)/ 513) 0;
}

.icon-custom-Cloud {
  background-position: percentage((87 - 514)/ 513) 0;
}

.icon-custom-Clyde {
  background-position: percentage((88 - 514)/ 513) 0;
}

.icon-custom-ConkerNeo {
  background-position: percentage((89 - 514)/ 513) 0;
}

.icon-custom-Conker {
  background-position: percentage((90 - 514)/ 513) 0;
}

.icon-custom-Cool90sBun {
  background-position: percentage((91 - 514)/ 513) 0;
}

.icon-custom-Cool90sLink {
  background-position: percentage((92 - 514)/ 513) 0;
}

.icon-custom-Cornelius {
  background-position: percentage((93 - 514)/ 513) 0;
}

.icon-custom-Corona {
  background-position: percentage((94 - 514)/ 513) 0;
}

.icon-custom-CousinKnol {
  background-position: percentage((95 - 514)/ 513) 0;
}

.icon-custom-Crewmate {
  background-position: percentage((96 - 514)/ 513) 0;
}

.icon-custom-Crono {
  background-position: percentage((97 - 514)/ 513) 0;
}

.icon-custom-Cucco {
  background-position: percentage((98 - 514)/ 513) 0;
}

.icon-custom-Cursor {
  background-position: percentage((99 - 514)/ 513) 0;
}

.icon-custom-DOwls {
  background-position: percentage((100 - 514)/ 513) 0;
}

.icon-custom-DarkLinkZelda2 {
  background-position: percentage((101 - 514)/ 513) 0;
}

.icon-custom-DarkMatter {
  background-position: percentage((102 - 514)/ 513) 0;
}

.icon-custom-DarkPanda {
  background-position: percentage((103 - 514)/ 513) 0;
}

.icon-custom-DarkBoy {
  background-position: percentage((104 - 514)/ 513) 0;
}

.icon-custom-DarkGirl {
  background-position: percentage((105 - 514)/ 513) 0;
}

.icon-custom-DarkLinkTunic {
  background-position: percentage((106 - 514)/ 513) 0;
}

.icon-custom-DarkLink {
  background-position: percentage((107 - 514)/ 513) 0;
}

.icon-custom-DarkSwatchy {
  background-position: percentage((108 - 514)/ 513) 0;
}

.icon-custom-DarkZelda {
  background-position: percentage((109 - 514)/ 513) 0;
}

.icon-custom-DarkZora {
  background-position: percentage((110 - 514)/ 513) 0;
}

.icon-custom-DeadpoolMythic {
  background-position: percentage((111 - 514)/ 513) 0;
}

.icon-custom-DeadpoolSirCzah {
  background-position: percentage((112 - 514)/ 513) 0;
}

.icon-custom-Deadrock {
  background-position: percentage((113 - 514)/ 513) 0;
}

.icon-custom-Decidueye {
  background-position: percentage((114 - 514)/ 513) 0;
}

.icon-custom-Dekar {
  background-position: percentage((115 - 514)/ 513) 0;
}

.icon-custom-Dennsen86 {
  background-position: percentage((116 - 514)/ 513) 0;
}

.icon-custom-DiddyKong {
  background-position: percentage((117 - 514)/ 513) 0;
}

.icon-custom-DigDug {
  background-position: percentage((118 - 514)/ 513) 0;
}

.icon-custom-Dipper {
  background-position: percentage((119 - 514)/ 513) 0;
}

.icon-custom-Discord {
  background-position: percentage((120 - 514)/ 513) 0;
}

.icon-custom-Dot_lvl {
  background-position: percentage((121 - 514)/ 513) 0;
}

.icon-custom-Dragonair {
  background-position: percentage((122 - 514)/ 513) 0;
}

.icon-custom-Dragonite {
  background-position: percentage((123 - 514)/ 513) 0;
}

.icon-custom-Drak {
  background-position: percentage((124 - 514)/ 513) 0;
}

.icon-custom-DrakeTheDragon {
  background-position: percentage((125 - 514)/ 513) 0;
}

.icon-custom-Drawcia {
  background-position: percentage((126 - 514)/ 513) 0;
}

.icon-custom-Eevee {
  background-position: percentage((127 - 514)/ 513) 0;
}

.icon-custom-Eggplant {
  background-position: percentage((128 - 514)/ 513) 0;
}

.icon-custom-Eirika {
  background-position: percentage((129 - 514)/ 513) 0;
}

.icon-custom-Elfilin {
  background-position: percentage((130 - 514)/ 513) 0;
}

.icon-custom-EmaSkye {
  background-position: percentage((131 - 514)/ 513) 0;
}

.icon-custom-EmoSaru {
  background-position: percentage((132 - 514)/ 513) 0;
}

.icon-custom-Espeon {
  background-position: percentage((133 - 514)/ 513) 0;
}

.icon-custom-Ezlo {
  background-position: percentage((134 - 514)/ 513) 0;
}

.icon-custom-Fi {
  background-position: percentage((135 - 514)/ 513) 0;
}

.icon-custom-FierceDeityLink {
  background-position: percentage((136 - 514)/ 513) 0;
}

.icon-custom-FinnMerten {
  background-position: percentage((137 - 514)/ 513) 0;
}

.icon-custom-FinnyBear {
  background-position: percentage((138 - 514)/ 513) 0;
}

.icon-custom-FloodgateFish {
  background-position: percentage((139 - 514)/ 513) 0;
}

.icon-custom-Flareon {
  background-position: percentage((140 - 514)/ 513) 0;
}

.icon-custom-FlavorGuy {
  background-position: percentage((141 - 514)/ 513) 0;
}

.icon-custom-FourSwordsLink {
  background-position: percentage((142 - 514)/ 513) 0;
}

.icon-custom-FoxLink {
  background-position: percentage((143 - 514)/ 513) 0;
}

.icon-custom-Fransen {
  background-position: percentage((144 - 514)/ 513) 0;
}

.icon-custom-FreyaCrescent {
  background-position: percentage((145 - 514)/ 513) 0;
}

.icon-custom-Frisk {
  background-position: percentage((146 - 514)/ 513) 0;
}

.icon-custom-FrogLink {
  background-position: percentage((147 - 514)/ 513) 0;
}

.icon-custom-Fujin {
  background-position: percentage((148 - 514)/ 513) 0;
}

.icon-custom-FutureTrunks {
  background-position: percentage((149 - 514)/ 513) 0;
}

.icon-custom-Gamer {
  background-position: percentage((150 - 514)/ 513) 0;
}

.icon-custom-GaMetal {
  background-position: percentage((151 - 514)/ 513) 0;
}

.icon-custom-MiniGanon {
  background-position: percentage((152 - 514)/ 513) 0;
}

.icon-custom-Ganondorf {
  background-position: percentage((153 - 514)/ 513) 0;
}

.icon-custom-Garfield {
  background-position: percentage((154 - 514)/ 513) 0;
}

.icon-custom-Garnet {
  background-position: percentage((155 - 514)/ 513) 0;
}

.icon-custom-GaroMaster {
  background-position: percentage((156 - 514)/ 513) 0;
}

.icon-custom-GBCLink {
  background-position: percentage((157 - 514)/ 513) 0;
}

.icon-custom-Geno {
  background-position: percentage((158 - 514)/ 513) 0;
}

.icon-custom-GinaLestrade {
  background-position: percentage((159 - 514)/ 513) 0;
}

.icon-custom-GliitchWiitch {
  background-position: percentage((160 - 514)/ 513) 0;
}

.icon-custom-GloveColorLink {
  background-position: percentage((161 - 514)/ 513) 0;
}

.icon-custom-GoMode {
  background-position: percentage((162 - 514)/ 513) 0;
}

.icon-custom-Gobli {
  background-position: percentage((163 - 514)/ 513) 0;
}

.icon-custom-Goemon {
  background-position: percentage((164 - 514)/ 513) 0;
}

.icon-custom-Gooey {
  background-position: percentage((165 - 514)/ 513) 0;
}

.icon-custom-Goomba {
  background-position: percentage((166 - 514)/ 513) 0;
}

.icon-custom-Goose {
  background-position: percentage((167 - 514)/ 513) 0;
}

.icon-custom-GraalianNoob {
  background-position: percentage((168 - 514)/ 513) 0;
}

.icon-custom-GrandPOOBear {
  background-position: percentage((169 - 514)/ 513) 0;
}

.icon-custom-Gretis {
  background-position: percentage((170 - 514)/ 513) 0;
}

.icon-custom-Growlithe {
  background-position: percentage((171 - 514)/ 513) 0;
}

.icon-custom-GruncleStan {
  background-position: percentage((172 - 514)/ 513) 0;
}

.icon-custom-Guandar {
  background-position: percentage((173 - 514)/ 513) 0;
}

.icon-custom-Guiz {
  background-position: percentage((174 - 514)/ 513) 0;
}

.icon-custom-HainztheBlahaj {
  background-position: percentage((175 - 514)/ 513) 0;
}

.icon-custom-Hamtaro {
  background-position: percentage((176 - 514)/ 513) 0;
}

.icon-custom-Hanna {
  background-position: percentage((177 - 514)/ 513) 0;
}

.icon-custom-HardhatBeetle {
  background-position: percentage((178 - 514)/ 513) 0;
}

.icon-custom-HatKid {
  background-position: percentage((179 - 514)/ 513) 0;
}

.icon-custom-HeadLink {
  background-position: percentage((180 - 514)/ 513) 0;
}

.icon-custom-HeadlessLink {
  background-position: percentage((181 - 514)/ 513) 0;
}

.icon-custom-Heem {
  background-position: percentage((182 - 514)/ 513) 0;
}

.icon-custom-HelloKitty {
  background-position: percentage((183 - 514)/ 513) 0;
}

.icon-custom-HeroofAwakening {
  background-position: percentage((184 - 514)/ 513) 0;
}

.icon-custom-HeroofHyrule {
  background-position: percentage((185 - 514)/ 513) 0;
}

.icon-custom-HintTile {
  background-position: percentage((186 - 514)/ 513) 0;
}

.icon-custom-HoarderBush {
  background-position: percentage((187 - 514)/ 513) 0;
}

.icon-custom-HoarderPot {
  background-position: percentage((188 - 514)/ 513) 0;
}

.icon-custom-HoarderRock {
  background-position: percentage((189 - 514)/ 513) 0;
}

.icon-custom-HollowKnightMalmoWinter {
  background-position: percentage((190 - 514)/ 513) 0;
}

.icon-custom-HollowKnight {
  background-position: percentage((191 - 514)/ 513) 0;
}

.icon-custom-HomerSimpson {
  background-position: percentage((192 - 514)/ 513) 0;
}

.icon-custom-Hornet {
  background-position: percentage((193 - 514)/ 513) 0;
}

.icon-custom-Horseman {
  background-position: percentage((194 - 514)/ 513) 0;
}

.icon-custom-Hotdog {
  background-position: percentage((195 - 514)/ 513) 0;
}

.icon-custom-HyruleKnight {
  background-position: percentage((196 - 514)/ 513) 0;
}

.icon-custom-iBazly {
  background-position: percentage((197 - 514)/ 513) 0;
}

.icon-custom-Ignignokt {
  background-position: percentage((198 - 514)/ 513) 0;
}

.icon-custom-Imani {
  background-position: percentage((199 - 514)/ 513) 0;
}

.icon-custom-InformantWoman {
  background-position: percentage((200 - 514)/ 513) 0;
}

.icon-custom-Inkling {
  background-position: percentage((201 - 514)/ 513) 0;
}

.icon-custom-InvisibleLink {
  background-position: percentage((202 - 514)/ 513) 0;
}

.icon-custom-Isabelle {
  background-position: percentage((203 - 514)/ 513) 0;
}

.icon-custom-JackFrost {
  background-position: percentage((204 - 514)/ 513) 0;
}

.icon-custom-JasonFrudnick {
  background-position: percentage((205 - 514)/ 513) 0;
}

.icon-custom-Jasp {
  background-position: percentage((206 - 514)/ 513) 0;
}

.icon-custom-Jogurt {
  background-position: percentage((207 - 514)/ 513) 0;
}

.icon-custom-Jolteon {
  background-position: percentage((208 - 514)/ 513) 0;
}

.icon-custom-JoshTriangles {
  background-position: percentage((209 - 514)/ 513) 0;
}

.icon-custom-JusteBelmont {
  background-position: percentage((210 - 514)/ 513) 0;
}

.icon-custom-Juzcook {
  background-position: percentage((211 - 514)/ 513) 0;
}

.icon-custom-Kaguya {
  background-position: percentage((212 - 514)/ 513) 0;
}

.icon-custom-Kain {
  background-position: percentage((213 - 514)/ 513) 0;
}

.icon-custom-Kakyoin {
  background-position: percentage((214 - 514)/ 513) 0;
}

.icon-custom-Katsura {
  background-position: percentage((215 - 514)/ 513) 0;
}

.icon-custom-Kecleon {
  background-position: percentage((216 - 514)/ 513) 0;
}

.icon-custom-Kefka {
  background-position: percentage((217 - 514)/ 513) 0;
}

.icon-custom-KennyMcCormick {
  background-position: percentage((218 - 514)/ 513) 0;
}

.icon-custom-Ketchup {
  background-position: percentage((219 - 514)/ 513) 0;
}

.icon-custom-Kholdstare {
  background-position: percentage((220 - 514)/ 513) 0;
}

.icon-custom-KingGothalion {
  background-position: percentage((221 - 514)/ 513) 0;
}

.icon-custom-KingGraham {
  background-position: percentage((222 - 514)/ 513) 0;
}

.icon-custom-Kinu {
  background-position: percentage((223 - 514)/ 513) 0;
}

.icon-custom-Kira {
  background-position: percentage((224 - 514)/ 513) 0;
}

.icon-custom-KirbyDreamland3 {
  background-position: percentage((225 - 514)/ 513) 0;
}

.icon-custom-Kirby {
  background-position: percentage((226 - 514)/ 513) 0;
}

.icon-custom-Kite {
  background-position: percentage((227 - 514)/ 513) 0;
}

.icon-custom-Koda {
  background-position: percentage((228 - 514)/ 513) 0;
}

.icon-custom-Koopa {
  background-position: percentage((229 - 514)/ 513) 0;
}

.icon-custom-Koragi {
  background-position: percentage((230 - 514)/ 513) 0;
}

.icon-custom-Kore8 {
  background-position: percentage((231 - 514)/ 513) 0;
}

.icon-custom-Korok {
  background-position: percentage((232 - 514)/ 513) 0;
}

.icon-custom-Kris {
  background-position: percentage((233 - 514)/ 513) 0;
}

.icon-custom-Krissy {
  background-position: percentage((234 - 514)/ 513) 0;
}

.icon-custom-Kriv {
  background-position: percentage((235 - 514)/ 513) 0;
}

.icon-custom-Kromb {
  background-position: percentage((236 - 514)/ 513) 0;
}

.icon-custom-Lakitu {
  background-position: percentage((237 - 514)/ 513) 0;
}

.icon-custom-Lanux {
  background-position: percentage((238 - 514)/ 513) 0;
}

.icon-custom-Lapras {
  background-position: percentage((239 - 514)/ 513) 0;
}

.icon-custom-Latias {
  background-position: percentage((240 - 514)/ 513) 0;
}

.icon-custom-Latios {
  background-position: percentage((241 - 514)/ 513) 0;
}

.icon-custom-Leafeon {
  background-position: percentage((242 - 514)/ 513) 0;
}

.icon-custom-LeagueMascot {
  background-position: percentage((243 - 514)/ 513) 0;
}

.icon-custom-Leongar {
  background-position: percentage((244 - 514)/ 513) 0;
}

.icon-custom-Lest {
  background-position: percentage((245 - 514)/ 513) 0;
}

.icon-custom-Lestat {
  background-position: percentage((246 - 514)/ 513) 0;
}

.icon-custom-Lily {
  background-position: percentage((247 - 514)/ 513) 0;
}

.icon-custom-Linja {
  background-position: percentage((248 - 514)/ 513) 0;
}

.icon-custom-LinkRedrawn {
  background-position: percentage((249 - 514)/ 513) 0;
}

.icon-custom-LinkZelda1 {
  background-position: percentage((250 - 514)/ 513) 0;
}

.icon-custom-HatColorLink {
  background-position: percentage((251 - 514)/ 513) 0;
}

.icon-custom-TunicColorLink {
  background-position: percentage((252 - 514)/ 513) 0;
}

.icon-custom-LittleHylian {
  background-position: percentage((253 - 514)/ 513) 0;
}

.icon-custom-Pony {
  background-position: percentage((254 - 514)/ 513) 0;
}

.icon-custom-Locke {
  background-position: percentage((255 - 514)/ 513) 0;
}

.icon-custom-FigaroMerchant {
  background-position: percentage((256 - 514)/ 513) 0;
}

.icon-custom-LordHoell {
  background-position: percentage((257 - 514)/ 513) 0;
}

.icon-custom-Lucario {
  background-position: percentage((258 - 514)/ 513) 0;
}

.icon-custom-Lucas {
  background-position: percentage((259 - 514)/ 513) 0;
}

.icon-custom-LuckwurstJoe {
  background-position: percentage((260 - 514)/ 513) 0;
}

.icon-custom-Luffy {
  background-position: percentage((261 - 514)/ 513) 0;
}

.icon-custom-Lugia {
  background-position: percentage((262 - 514)/ 513) 0;
}

.icon-custom-Luigi {
  background-position: percentage((263 - 514)/ 513) 0;
}

.icon-custom-Lumberjack {
  background-position: percentage((264 - 514)/ 513) 0;
}

.icon-custom-LunaMaindo {
  background-position: percentage((265 - 514)/ 513) 0;
}

.icon-custom-Lycanroc {
  background-position: percentage((266 - 514)/ 513) 0;
}

.icon-custom-Lynea {
  background-position: percentage((267 - 514)/ 513) 0;
}

.icon-custom-LynelBotW {
  background-position: percentage((268 - 514)/ 513) 0;
}

.icon-custom-Mad_Tears {
  background-position: percentage((269 - 514)/ 513) 0;
}

.icon-custom-Madeline {
  background-position: percentage((270 - 514)/ 513) 0;
}

.icon-custom-Magus {
  background-position: percentage((271 - 514)/ 513) 0;
}

.icon-custom-Maiden {
  background-position: percentage((272 - 514)/ 513) 0;
}

.icon-custom-MajorasMask {
  background-position: percentage((273 - 514)/ 513) 0;
}

.icon-custom-MallowCat {
  background-position: percentage((274 - 514)/ 513) 0;
}

.icon-custom-MangaLink {
  background-position: percentage((275 - 514)/ 513) 0;
}

.icon-custom-MapleQueen {
  background-position: percentage((276 - 514)/ 513) 0;
}

.icon-custom-Marin {
  background-position: percentage((277 - 514)/ 513) 0;
}

.icon-custom-MarioClassic {
  background-position: percentage((278 - 514)/ 513) 0;
}

.icon-custom-TanookiMario {
  background-position: percentage((279 - 514)/ 513) 0;
}

.icon-custom-MarioandCappy {
  background-position: percentage((280 - 514)/ 513) 0;
}

.icon-custom-MarisaKirisame {
  background-position: percentage((281 - 514)/ 513) 0;
}

.icon-custom-Matthias {
  background-position: percentage((282 - 514)/ 513) 0;
}

.icon-custom-Meatwad {
  background-position: percentage((283 - 514)/ 513) 0;
}

.icon-custom-Medallions {
  background-position: percentage((284 - 514)/ 513) 0;
}

.icon-custom-Medli {
  background-position: percentage((285 - 514)/ 513) 0;
}

.icon-custom-MegamanX {
  background-position: percentage((286 - 514)/ 513) 0;
}

.icon-custom-MegamanX2 {
  background-position: percentage((287 - 514)/ 513) 0;
}

.icon-custom-MegaManClassic {
  background-position: percentage((288 - 514)/ 513) 0;
}

.icon-custom-MetaKnight {
  background-position: percentage((289 - 514)/ 513) 0;
}

.icon-custom-Meteion {
  background-position: percentage((290 - 514)/ 513) 0;
}

.icon-custom-BabyMetroid {
  background-position: percentage((291 - 514)/ 513) 0;
}

.icon-custom-MewLp {
  background-position: percentage((292 - 514)/ 513) 0;
}

.icon-custom-MikeJones {
  background-position: percentage((293 - 514)/ 513) 0;
}

.icon-custom-Milly {
  background-position: percentage((294 - 514)/ 513) 0;
}

.icon-custom-Mimic {
  background-position: percentage((295 - 514)/ 513) 0;
}

.icon-custom-Mimikyu {
  background-position: percentage((296 - 514)/ 513) 0;
}

.icon-custom-MinishLink {
  background-position: percentage((297 - 514)/ 513) 0;
}

.icon-custom-MinishCapLink {
  background-position: percentage((298 - 514)/ 513) 0;
}

.icon-custom-Mipha {
  background-position: percentage((299 - 514)/ 513) 0;
}

.icon-custom-missingno {
  background-position: percentage((300 - 514)/ 513) 0;
}

.icon-custom-Moblin {
  background-position: percentage((301 - 514)/ 513) 0;
}

.icon-custom-ModernLink {
  background-position: percentage((302 - 514)/ 513) 0;
}

.icon-custom-MoeChicken {
  background-position: percentage((303 - 514)/ 513) 0;
}

.icon-custom-MomijiInubashiri {
  background-position: percentage((304 - 514)/ 513) 0;
}

.icon-custom-Moosh {
  background-position: percentage((305 - 514)/ 513) 0;
}

.icon-custom-Mouse {
  background-position: percentage((306 - 514)/ 513) 0;
}

.icon-custom-MsPaintDog {
  background-position: percentage((307 - 514)/ 513) 0;
}

.icon-custom-PowerUpwithPrideMushroom {
  background-position: percentage((308 - 514)/ 513) 0;
}

.icon-custom-NatureLink {
  background-position: percentage((309 - 514)/ 513) 0;
}

.icon-custom-Navi {
  background-position: percentage((310 - 514)/ 513) 0;
}

.icon-custom-Navirou {
  background-position: percentage((311 - 514)/ 513) 0;
}

.icon-custom-Nayada {
  background-position: percentage((312 - 514)/ 513) 0;
}

.icon-custom-Necrosky90 {
  background-position: percentage((313 - 514)/ 513) 0;
}

.icon-custom-NedFlanders {
  background-position: percentage((314 - 514)/ 513) 0;
}

.icon-custom-NegativeLink {
  background-position: percentage((315 - 514)/ 513) 0;
}

.icon-custom-NekoniHoozuki {
  background-position: percentage((316 - 514)/ 513) 0;
}

.icon-custom-Neosad {
  background-position: percentage((317 - 514)/ 513) 0;
}

.icon-custom-Nepgear {
  background-position: percentage((318 - 514)/ 513) 0;
}

.icon-custom-Neptune {
  background-position: percentage((319 - 514)/ 513) 0;
}

.icon-custom-NESLink {
  background-position: percentage((320 - 514)/ 513) 0;
}

.icon-custom-Ness {
  background-position: percentage((321 - 514)/ 513) 0;
}

.icon-custom-Nia {
  background-position: percentage((322 - 514)/ 513) 0;
}

.icon-custom-Niddraig {
  background-position: percentage((323 - 514)/ 513) 0;
}

.icon-custom-Niko {
  background-position: percentage((324 - 514)/ 513) 0;
}

.icon-custom-Ninten {
  background-position: percentage((325 - 514)/ 513) 0;
}

.icon-custom-Octorok {
  background-position: percentage((326 - 514)/ 513) 0;
}

.icon-custom-OldeMan {
  background-position: percentage((327 - 514)/ 513) 0;
}

.icon-custom-OldMan {
  background-position: percentage((328 - 514)/ 513) 0;
}

.icon-custom-Ori {
  background-position: percentage((329 - 514)/ 513) 0;
}

.icon-custom-OutlineLink {
  background-position: percentage((330 - 514)/ 513) 0;
}

.icon-custom-PaperMario {
  background-position: percentage((331 - 514)/ 513) 0;
}

.icon-custom-ParallelWorldsLink {
  background-position: percentage((332 - 514)/ 513) 0;
}

.icon-custom-Patia {
  background-position: percentage((333 - 514)/ 513) 0;
}

.icon-custom-PaultheWoodsman {
  background-position: percentage((334 - 514)/ 513) 0;
}

.icon-custom-Paula {
  background-position: percentage((335 - 514)/ 513) 0;
}

.icon-custom-PrincessPeach {
  background-position: percentage((336 - 514)/ 513) 0;
}

.icon-custom-PenguinLink {
  background-position: percentage((337 - 514)/ 513) 0;
}

.icon-custom-Pete {
  background-position: percentage((338 - 514)/ 513) 0;
}

.icon-custom-PhoenixWright {
  background-position: percentage((339 - 514)/ 513) 0;
}

.icon-custom-Pikachu {
  background-position: percentage((340 - 514)/ 513) 0;
}

.icon-custom-PinkRibbonLink {
  background-position: percentage((341 - 514)/ 513) 0;
}

.icon-custom-PiranhaPlant {
  background-position: percentage((342 - 514)/ 513) 0;
}

.icon-custom-PlagueKnight {
  background-position: percentage((343 - 514)/ 513) 0;
}

.icon-custom-Plouni {
  background-position: percentage((344 - 514)/ 513) 0;
}

.icon-custom-PoCLink {
  background-position: percentage((345 - 514)/ 513) 0;
}

.icon-custom-Pokey {
  background-position: percentage((346 - 514)/ 513) 0;
}

.icon-custom-Popoi {
  background-position: percentage((347 - 514)/ 513) 0;
}

.icon-custom-Poppy {
  background-position: percentage((348 - 514)/ 513) 0;
}

.icon-custom-PorgKnight {
  background-position: percentage((349 - 514)/ 513) 0;
}

.icon-custom-PowerPigg {
  background-position: percentage((350 - 514)/ 513) 0;
}

.icon-custom-PowerRanger {
  background-position: percentage((351 - 514)/ 513) 0;
}

.icon-custom-PowerpuffGirl {
  background-position: percentage((352 - 514)/ 513) 0;
}

.icon-custom-PrideLink {
  background-position: percentage((353 - 514)/ 513) 0;
}

.icon-custom-Primm {
  background-position: percentage((354 - 514)/ 513) 0;
}

.icon-custom-PrincessBubblegum {
  background-position: percentage((355 - 514)/ 513) 0;
}

.icon-custom-ProfRendererGrizzleton {
  background-position: percentage((356 - 514)/ 513) 0;
}

.icon-custom-TheProfessor {
  background-position: percentage((357 - 514)/ 513) 0;
}

.icon-custom-Protogen {
  background-position: percentage((358 - 514)/ 513) 0;
}

.icon-custom-Psyduck {
  background-position: percentage((359 - 514)/ 513) 0;
}

.icon-custom-ThePug {
  background-position: percentage((360 - 514)/ 513) 0;
}

.icon-custom-PurpleChest {
  background-position: percentage((361 - 514)/ 513) 0;
}

.icon-custom-Pyro {
  background-position: percentage((362 - 514)/ 513) 0;
}

.icon-custom-QuadBanger {
  background-position: percentage((363 - 514)/ 513) 0;
}

.icon-custom-RainbowLink {
  background-position: percentage((364 - 514)/ 513) 0;
}

.icon-custom-Randi {
  background-position: percentage((365 - 514)/ 513) 0;
}

.icon-custom-Rash {
  background-position: percentage((366 - 514)/ 513) 0;
}

.icon-custom-Rat {
  background-position: percentage((367 - 514)/ 513) 0;
}

.icon-custom-RedMage {
  background-position: percentage((368 - 514)/ 513) 0;
}

.icon-custom-Red {
  background-position: percentage((369 - 514)/ 513) 0;
}

.icon-custom-ReimuHakureiHoxNorf {
  background-position: percentage((370 - 514)/ 513) 0;
}

.icon-custom-ReimuHakureiRickyofKokiri {
  background-position: percentage((371 - 514)/ 513) 0;
}

.icon-custom-Remeer {
  background-position: percentage((372 - 514)/ 513) 0;
}

.icon-custom-RemusRBlack {
  background-position: percentage((373 - 514)/ 513) 0;
}

.icon-custom-Renoko {
  background-position: percentage((374 - 514)/ 513) 0;
}

.icon-custom-ReverseMailOrder {
  background-position: percentage((375 - 514)/ 513) 0;
}

.icon-custom-Rick {
  background-position: percentage((376 - 514)/ 513) 0;
}

.icon-custom-Robo-Link9000 {
  background-position: percentage((377 - 514)/ 513) 0;
}

.icon-custom-Rocko {
  background-position: percentage((378 - 514)/ 513) 0;
}

.icon-custom-Rocky {
  background-position: percentage((379 - 514)/ 513) 0;
}

.icon-custom-RoronoaZoro {
  background-position: percentage((380 - 514)/ 513) 0;
}

.icon-custom-Rottytops {
  background-position: percentage((381 - 514)/ 513) 0;
}

.icon-custom-Rover {
  background-position: percentage((382 - 514)/ 513) 0;
}

.icon-custom-RoyKoopa {
  background-position: percentage((383 - 514)/ 513) 0;
}

.icon-custom-Rozalyndis {
  background-position: percentage((384 - 514)/ 513) 0;
}

.icon-custom-Rumia {
  background-position: percentage((385 - 514)/ 513) 0;
}

.icon-custom-Rydia {
  background-position: percentage((386 - 514)/ 513) 0;
}

.icon-custom-Ryu {
  background-position: percentage((387 - 514)/ 513) 0;
}

.icon-custom-SailorJupiter {
  background-position: percentage((388 - 514)/ 513) 0;
}

.icon-custom-SailorMars {
  background-position: percentage((389 - 514)/ 513) 0;
}

.icon-custom-SailorMercury {
  background-position: percentage((390 - 514)/ 513) 0;
}

.icon-custom-SailorSaturn {
  background-position: percentage((391 - 514)/ 513) 0;
}

.icon-custom-SailorVenus {
  background-position: percentage((392 - 514)/ 513) 0;
}

.icon-custom-SailorMoon {
  background-position: percentage((393 - 514)/ 513) 0;
}

.icon-custom-Saitama {
  background-position: percentage((394 - 514)/ 513) 0;
}

.icon-custom-Samurott {
  background-position: percentage((395 - 514)/ 513) 0;
}

.icon-custom-SamusSuperMetroid {
  background-position: percentage((396 - 514)/ 513) 0;
}

.icon-custom-Samus {
  background-position: percentage((397 - 514)/ 513) 0;
}

.icon-custom-SamusClassic {
  background-position: percentage((398 - 514)/ 513) 0;
}

.icon-custom-SansCarld923 {
  background-position: percentage((399 - 514)/ 513) 0;
}

.icon-custom-SansTux_66 {
  background-position: percentage((400 - 514)/ 513) 0;
}

.icon-custom-SantaHatLink {
  background-position: percentage((401 - 514)/ 513) 0;
}

.icon-custom-SantaLink {
  background-position: percentage((402 - 514)/ 513) 0;
}

.icon-custom-Saria {
  background-position: percentage((403 - 514)/ 513) 0;
}

.icon-custom-Scholar {
  background-position: percentage((404 - 514)/ 513) 0;
}

.icon-custom-Selan {
  background-position: percentage((405 - 514)/ 513) 0;
}

.icon-custom-SevenS1ns {
  background-position: percentage((406 - 514)/ 513) 0;
}

.icon-custom-Shade {
  background-position: percentage((407 - 514)/ 513) 0;
}

.icon-custom-Shadow {
  background-position: percentage((408 - 514)/ 513) 0;
}

.icon-custom-ShadowSakura {
  background-position: percentage((409 - 514)/ 513) 0;
}

.icon-custom-LoveShak {
  background-position: percentage((410 - 514)/ 513) 0;
}

.icon-custom-Shaktool {
  background-position: percentage((411 - 514)/ 513) 0;
}

.icon-custom-Shantae {
  background-position: percentage((412 - 514)/ 513) 0;
}

.icon-custom-Shiluna {
  background-position: percentage((413 - 514)/ 513) 0;
}

.icon-custom-Shin {
  background-position: percentage((414 - 514)/ 513) 0;
}

.icon-custom-ShinmyoumaruSukuna {
  background-position: percentage((415 - 514)/ 513) 0;
}

.icon-custom-ShopkeeperLink {
  background-position: percentage((416 - 514)/ 513) 0;
}

.icon-custom-Shoujo {
  background-position: percentage((417 - 514)/ 513) 0;
}

.icon-custom-Shuppet {
  background-position: percentage((418 - 514)/ 513) 0;
}

.icon-custom-ShyGal {
  background-position: percentage((419 - 514)/ 513) 0;
}

.icon-custom-ShyGuy {
  background-position: percentage((420 - 514)/ 513) 0;
}

.icon-custom-SighnWaive {
  background-position: percentage((421 - 514)/ 513) 0;
}

.icon-custom-Skunk {
  background-position: percentage((422 - 514)/ 513) 0;
}

.icon-custom-Slime {
  background-position: percentage((423 - 514)/ 513) 0;
}

.icon-custom-Slowpoke {
  background-position: percentage((424 - 514)/ 513) 0;
}

.icon-custom-SNESController {
  background-position: percentage((425 - 514)/ 513) 0;
}

.icon-custom-Sobble {
  background-position: percentage((426 - 514)/ 513) 0;
}

.icon-custom-SodaCan {
  background-position: percentage((427 - 514)/ 513) 0;
}

.icon-custom-Sokka {
  background-position: percentage((428 - 514)/ 513) 0;
}

.icon-custom-SolaireofAstora {
  background-position: percentage((429 - 514)/ 513) 0;
}

.icon-custom-HyruleSoldier {
  background-position: percentage((430 - 514)/ 513) 0;
}

.icon-custom-SonictheHedgehog {
  background-position: percentage((431 - 514)/ 513) 0;
}

.icon-custom-Sora {
  background-position: percentage((432 - 514)/ 513) 0;
}

.icon-custom-SoraKH1 {
  background-position: percentage((433 - 514)/ 513) 0;
}

.icon-custom-SpamtonGSpamton {
  background-position: percentage((434 - 514)/ 513) 0;
}

.icon-custom-Spat {
  background-position: percentage((435 - 514)/ 513) 0;
}

.icon-custom-SpikedRoller {
  background-position: percentage((436 - 514)/ 513) 0;
}

.icon-custom-Spiritendo {
  background-position: percentage((437 - 514)/ 513) 0;
}

.icon-custom-SpongebobSquarepants {
  background-position: percentage((438 - 514)/ 513) 0;
}

.icon-custom-SpyrotheDragon {
  background-position: percentage((439 - 514)/ 513) 0;
}

.icon-custom-Squall {
  background-position: percentage((440 - 514)/ 513) 0;
}

.icon-custom-SaltySquiddy {
  background-position: percentage((441 - 514)/ 513) 0;
}

.icon-custom-Squirrel {
  background-position: percentage((442 - 514)/ 513) 0;
}

.icon-custom-Squirtle {
  background-position: percentage((443 - 514)/ 513) 0;
}

.icon-custom-Stalfos {
  background-position: percentage((444 - 514)/ 513) 0;
}

.icon-custom-Stan {
  background-position: percentage((445 - 514)/ 513) 0;
}

.icon-custom-StaticLink {
  background-position: percentage((446 - 514)/ 513) 0;
}

.icon-custom-SteamedHams {
  background-position: percentage((447 - 514)/ 513) 0;
}

.icon-custom-StickMan {
  background-position: percentage((448 - 514)/ 513) 0;
}

.icon-custom-Stitch {
  background-position: percentage((449 - 514)/ 513) 0;
}

.icon-custom-SuperBomb {
  background-position: percentage((450 - 514)/ 513) 0;
}

.icon-custom-SuperBunny {
  background-position: percentage((451 - 514)/ 513) 0;
}

.icon-custom-SuperMeatBoy {
  background-position: percentage((452 - 514)/ 513) 0;
}

.icon-custom-Susie {
  background-position: percentage((453 - 514)/ 513) 0;
}

.icon-custom-Swatchy {
  background-position: percentage((454 - 514)/ 513) 0;
}

.icon-custom-Swiper {
  background-position: percentage((455 - 514)/ 513) 0;
}

.icon-custom-SwirlDrop {
  background-position: percentage((456 - 514)/ 513) 0;
}

.icon-custom-TASBot {
  background-position: percentage((457 - 514)/ 513) 0;
}

.icon-custom-TeaTime {
  background-position: percentage((458 - 514)/ 513) 0;
}

.icon-custom-Teddiursa {
  background-position: percentage((459 - 514)/ 513) 0;
}

.icon-custom-TerraEsper {
  background-position: percentage((460 - 514)/ 513) 0;
}

.icon-custom-TerryContactDS {
  background-position: percentage((461 - 514)/ 513) 0;
}

.icon-custom-Tetra {
  background-position: percentage((462 - 514)/ 513) 0;
}

.icon-custom-TGH {
  background-position: percentage((463 - 514)/ 513) 0;
}

.icon-custom-TheRobot {
  background-position: percentage((464 - 514)/ 513) 0;
}

.icon-custom-Thief {
  background-position: percentage((465 - 514)/ 513) 0;
}

.icon-custom-ThinkDorm {
  background-position: percentage((466 - 514)/ 513) 0;
}

.icon-custom-Thomcrow {
  background-position: percentage((467 - 514)/ 513) 0;
}

.icon-custom-Tile {
  background-position: percentage((468 - 514)/ 513) 0;
}

.icon-custom-Tingle {
  background-position: percentage((469 - 514)/ 513) 0;
}

.icon-custom-TMNT {
  background-position: percentage((470 - 514)/ 513) 0;
}

.icon-custom-Toad {
  background-position: percentage((471 - 514)/ 513) 0;
}

.icon-custom-Toadette {
  background-position: percentage((472 - 514)/ 513) 0;
}

.icon-custom-CaptainToadette {
  background-position: percentage((473 - 514)/ 513) 0;
}

.icon-custom-TotemLinks {
  background-position: percentage((474 - 514)/ 513) 0;
}

.icon-custom-DrTreymondSpyreSpyresonIII {
  background-position: percentage((475 - 514)/ 513) 0;
}

.icon-custom-TrogdortheBurninator {
  background-position: percentage((476 - 514)/ 513) 0;
}

.icon-custom-Tueffel {
  background-position: percentage((477 - 514)/ 513) 0;
}

.icon-custom-Tunic {
  background-position: percentage((478 - 514)/ 513) 0;
}

.icon-custom-TPZelda {
  background-position: percentage((479 - 514)/ 513) 0;
}

.icon-custom-TwoFaced {
  background-position: percentage((480 - 514)/ 513) 0;
}

.icon-custom-TytheTasmanianTiger {
  background-position: percentage((481 - 514)/ 513) 0;
}

.icon-custom-UFOKirby {
  background-position: percentage((482 - 514)/ 513) 0;
}

.icon-custom-Ultros {
  background-position: percentage((483 - 514)/ 513) 0;
}

.icon-custom-Umbreon {
  background-position: percentage((484 - 514)/ 513) 0;
}

.icon-custom-Unicorn {
  background-position: percentage((485 - 514)/ 513) 0;
}

.icon-custom-Valeera {
  background-position: percentage((486 - 514)/ 513) 0;
}

.icon-custom-VanillaLink {
  background-position: percentage((487 - 514)/ 513) 0;
}

.icon-custom-Vaporeon {
  background-position: percentage((488 - 514)/ 513) 0;
}

.icon-custom-Vegeta {
  background-position: percentage((489 - 514)/ 513) 0;
}

.icon-custom-Vera {
  background-position: percentage((490 - 514)/ 513) 0;
}

.icon-custom-Vitreous {
  background-position: percentage((491 - 514)/ 513) 0;
}

.icon-custom-Vivi {
  background-position: percentage((492 - 514)/ 513) 0;
}

.icon-custom-Vivian {
  background-position: percentage((493 - 514)/ 513) 0;
}

.icon-custom-Wackerly {
  background-position: percentage((494 - 514)/ 513) 0;
}

.icon-custom-Wario {
  background-position: percentage((495 - 514)/ 513) 0;
}

.icon-custom-WhiteMage {
  background-position: percentage((496 - 514)/ 513) 0;
}

.icon-custom-Will {
  background-position: percentage((497 - 514)/ 513) 0;
}

.icon-custom-Wizzrobe {
  background-position: percentage((498 - 514)/ 513) 0;
}

.icon-custom-WolfODonnell {
  background-position: percentage((499 - 514)/ 513) 0;
}

.icon-custom-WolfLinkFestive {
  background-position: percentage((500 - 514)/ 513) 0;
}

.icon-custom-WolfLinkTP {
  background-position: percentage((501 - 514)/ 513) 0;
}

.icon-custom-WuZaiiii {
  background-position: percentage((502 - 514)/ 513) 0;
}

.icon-custom-Yoshi {
  background-position: percentage((503 - 514)/ 513) 0;
}

.icon-custom-YunicaTovah {
  background-position: percentage((504 - 514)/ 513) 0;
}

.icon-custom-Zagreus {
  background-position: percentage((505 - 514)/ 513) 0;
}

.icon-custom-Zandra {
  background-position: percentage((506 - 514)/ 513) 0;
}

.icon-custom-Zaruvyen {
  background-position: percentage((507 - 514)/ 513) 0;
}

.icon-custom-ZebraUnicorn {
  background-position: percentage((508 - 514)/ 513) 0;
}

.icon-custom-Zeck {
  background-position: percentage((509 - 514)/ 513) 0;
}

.icon-custom-Zekrom {
  background-position: percentage((510 - 514)/ 513) 0;
}

.icon-custom-Zelda {
  background-position: percentage((511 - 514)/ 513) 0;
}

.icon-custom-ZeroSuitSamus {
  background-position: percentage((512 - 514)/ 513) 0;
}

.icon-custom-Zora {
  background-position: percentage((513 - 514)/ 513) 0;
}

