// Fonts
@import url("https://fonts.googleapis.com/css?family=Cabin|Schoolbell:300,400,600");

// Variables
@import "variables";

@import "sprites";

@import "bootstrap4fixes";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~vue-multiselect/dist/vue-multiselect.min";
@import "vue-multiselect";
@import "v-tooltip";
@import "loading";
@import "~flag-icon-css/sass/variables";
@import "~flag-icon-css/sass/flag-icon-base";
@include flag-icon(us);
@include flag-icon(fr);
@include flag-icon(de);
@include flag-icon(es);

body {
  background-color: #eeeeee;
}

h4,
.h4,
h5,
.h5 {
  font-weight: bold;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.nav-tabs-sticky {
  position: sticky;
  top: 53px;
  z-index: 990;
}

.panel-heading-sticky,
.card-heading-sticky {
  position: sticky;
  top: 93px;
  z-index: 990;
}

.panel-sticky,
.card-sticky {
  position: sticky;
  top: 0;
  z-index: 990;
}

.navbar {
  padding: 0.1rem 2rem;
}

.navbar-brand {
  padding: 0;
}

.no-resize {
  resize: none;
}

.btn-secondary {
  background-color: #ff0000;
  border-color: #ff0000;
  border-image: none;
  color: #ffffff;
}

ins.adsbygoogle {
  margin-top: 10px;
}

.btn-secondary:hover {
  background-color: #c10b0b;
  border-color: #c10b0b;
  color: #ffffff;
}

.btn-outline-secondary {
  background-color: transparent;
  border-color: #868e96;
  border-image: none;
  color: #868e96;
}

.btn-outline-secondary:hover {
  background-color: #868e96;
  border-color: #868e96;
  color: #ffffff;
}

.btn-wrapper {
  display: flex;
  justify-content: stretch;
  padding: 0 140px;
}

.btn-cta {
  flex: 1 0 0px;
}

.btn-cta .btn,
.btn-cal .btn {
  width: 100%;
}

.btn-cal {
  flex: 1 0 0px;
  padding: 4px;
}

.btn-xl {
  width: 33%;
}

.btn-flex {
  align-content: stretch;
  align-items: stretch;
  display: flex;
}

.btn-flex .btn:first-child {
  flex-grow: 1;
  text-align: left;
}

.btn-file {
  overflow: hidden;
  position: relative;
}
.btn-file input[type="file"] {
  background: white;
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  font-size: 100px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  outline: none;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.card-header {
  padding: 0.5rem 1.25rem;
}
.card-title {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.cust-tooltip {
  color: #3097d1;
  padding-left: 2px;
}

.options-tooltip {
  color: #3097d1;
  padding-left: 5px;
}

.input-group-addon .cust-tooltip {
  padding-left: 5px;
}

.panel-heading-btn h3 {
  line-height: normal;
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spoiler {
  border: 1px solid #808080;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.spoiler-toggle {
  color: #808080;
  cursor: default;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}
.spoiler-text {
  padding: 5px;
}
.pulse {
  animation: pulse 4s infinite;
  border-radius: 50%;
}
.pulse:hover {
  animation: none;
}
.pb-5 {
  padding-bottom: 15px;
}

.handwritten {
  font-family: "Schoolbell", serif;
}
.prose {
  font-size: 16px;
  font-weight: 600;
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 30px rgba(220, 120, 0, 0.8);
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.05em;
  line-height: 1.8;
  padding: 25px;
}

.alternate-color span {
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.alternate-color span:nth-of-type(4n) {
  color: #e1f7d5;
}
.alternate-color span:nth-of-type(4n + 1) {
  color: #ffbdbd;
}
.alternate-color span:nth-of-type(4n + 2) {
  color: #c9c9ff;
}
.alternate-color span:nth-of-type(4n + 3) {
  color: #f1cbff;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
    box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
    box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
    box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
  }
}

input[readonly].custom-placed,
input[readonly].custom-drops-placed {
  background-color: transparent;
  border: 0;
  font-size: 1em;
}

.running-now {
  color: red;
  font-weight: bold;
}

.tbody-striped {
  > tbody {
    > tr {
      background-color: $table-bg-accent;
    }
    > tr:nth-of-type(odd) {
      background-color: inherit;
    }
  }
  > tbody:nth-of-type(odd) {
    > tr {
      background-color: inherit;
    }
    > tr:nth-of-type(odd) {
      background-color: $table-bg-accent;
    }
  }
}

.table-secondary {
  background-color: #eeeeee;
}

.table-hover > tbody > tr:hover {
  background-color: #d6d8db;
}

.center {
  text-align: center;
}

.btn-cal1 {
  background-color: #ad2d2d;
  color: #ffffff;
}

.btn-cal2 {
  background-color: #668cd9;
  color: #ffffff;
}

.btn-cal3 {
  background-color: #cf9911;
  color: #ffffff;
}

.btn-cal4 {
  background-color: #8cbf40;
  color: #ffffff;
}

.btn-cal5 {
  background-color: #737373;
  color: #ffffff;
  margin: 4px;
}

.btn-cal1:hover {
  background-color: #941414;
  color: #ffffff;
}

.btn-cal2:hover {
  background-color: #4d73c0;
  color: #ffffff;
}

.btn-cal3:hover {
  background-color: #b68000;
  color: #ffffff;
}

.btn-cal4:hover {
  background-color: #73a627;
  color: #ffffff;
}

.btn-cal5:hover {
  background-color: #737373;
  color: #ffffff;
  cursor: auto;
}

// invert dropdown on right nav items
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-33 {
  width: 33.33% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-80 {
  width: 80% !important;
}

.led-green {
  display: inline-table;
  width: 12px;
  height: 12px;
  background-color: #66ff00;
  border-radius: 50%;
  box-shadow: #000000 0 -1px 7px 1px, inset #55aa00 0 -1px 9px,
    #77dd00 0 2px 12px;
}

strong {
  color: $brand-danger;
}

#options p {
  margin-left: 1.25rem;
  margin-bottom: 0.5rem;
}

@import "dark-theme";
