.sprite-icons {
	padding: 5px 12px !important; // override bs-select
	border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186) !important;
}

// montage *.spr.png -tile x1 -background none -geometry +0+0 sprites.1.png
[class^="icon-custom-"],
[class*=" icon-custom-"] {
	width: 16px;
	height: 24px;
	vertical-align: bottom;
	background-image: url("http://spr.beegunslingers.com/sprites.29.png");
}

.icon-custom-Random {background-postion: 0 0}
.icon-custom-Link {background-position: 1 * -16px 0}
.icon-custom-FourSwordsLink {background-position: 2 * -16px 0}
.icon-custom-Arrghus {background-position: 3 * -16px 0}
.icon-custom-Beau {background-position: 4 * -16px 0}
.icon-custom-BigKey {background-position: 5 * -16px 0}
.icon-custom-BlacksmithLink {background-position: 6 * -16px 0}
.icon-custom-Bob {background-position: 7 * -16px 0}
.icon-custom-Boo2 {background-position: 8 * -16px 0}
.icon-custom-Boo {background-position: 9 * -16px 0}
.icon-custom-Broccoli {background-position: 10 * -16px 0}
.icon-custom-BSBoy {background-position: 11 * -16px 0}
.icon-custom-BSGirl {background-position: 12 * -16px 0}
.icon-custom-Cactuar {background-position: 13 * -16px 0}
.icon-custom-Cat {background-position: 14 * -16px 0}
.icon-custom-CatBoo {background-position: 15 * -16px 0}
.icon-custom-CheepCheep {background-position: 16 * -16px 0}
.icon-custom-Cirno {background-position: 17 * -16px 0}
.icon-custom-Conker {background-position: 18 * -16px 0}
.icon-custom-Cursor {background-position: 19 * -16px 0}
.icon-custom-DarkBoy {background-position: 20 * -16px 0}
.icon-custom-DarkGirl {background-position: 21 * -16px 0}
.icon-custom-DarkLinkTunic {background-position: 22 * -16px 0}
.icon-custom-DarkLink {background-position: 23 * -16px 0}
.icon-custom-DarkSwatchy {background-position: 24 * -16px 0}
.icon-custom-DarkZelda {background-position: 25 * -16px 0}
.icon-custom-DarkZora {background-position: 26 * -16px 0}
.icon-custom-Decidueye {background-position: 27 * -16px 0}
.icon-custom-DemonLink {background-position: 28 * -16px 0}
.icon-custom-EmoSaru {background-position: 29 * -16px 0}
.icon-custom-FoxLink {background-position: 30 * -16px 0}
.icon-custom-FrogLink {background-position: 31 * -16px 0}
.icon-custom-Ganondorf {background-position: 32 * -16px 0}
.icon-custom-Garfield {background-position: 33 * -16px 0}
.icon-custom-HeadlessLink {background-position: 34 * -16px 0}
.icon-custom-HyruleKnight {background-position: 35 * -16px 0}
.icon-custom-Ignignokt {background-position: 36 * -16px 0}
.icon-custom-Inkling {background-position: 37 * -16px 0}
.icon-custom-InvisibleLink {background-position: 38 * -16px 0}
.icon-custom-Jogurt {background-position: 39 * -16px 0}
.icon-custom-Kirby {background-position: 40 * -16px 0}
.icon-custom-Kore8 {background-position: 41 * -16px 0}
.icon-custom-HatColorLink {background-position: 42 * -16px 0}
.icon-custom-TunicColorLink {background-position: 43 * -16px 0}
.icon-custom-Pony {background-position: 44 * -16px 0}
.icon-custom-Luigi {background-position: 45 * -16px 0}
.icon-custom-Maiden {background-position: 46 * -16px 0}
.icon-custom-MangaLink {background-position: 47 * -16px 0}
.icon-custom-MapleQueen {background-position: 48 * -16px 0}
.icon-custom-MarioClassic {background-position: 49 * -16px 0}
.icon-custom-MarioandCappy {background-position: 50 * -16px 0}
.icon-custom-MarisaKirisame {background-position: 51 * -16px 0}
.icon-custom-MegamanX {background-position: 52 * -16px 0}
.icon-custom-MikeJones {background-position: 53 * -16px 0}
.icon-custom-MinishCapLink {background-position: 54 * -16px 0}
.icon-custom-missingno {background-position: 55 * -16px 0}
.icon-custom-ModernLink {background-position: 56 * -16px 0}
.icon-custom-Mog {background-position: 57 * -16px 0}
.icon-custom-Mouse {background-position: 58 * -16px 0}
.icon-custom-NatureLink {background-position: 59 * -16px 0}
.icon-custom-Navi {background-position: 60 * -16px 0}
.icon-custom-NegativeLink {background-position: 61 * -16px 0}
.icon-custom-NESLink {background-position: 62 * -16px 0}
.icon-custom-OldMan {background-position: 63 * -16px 0}
.icon-custom-OutlineLink {background-position: 64 * -16px 0}
.icon-custom-PenguinLink {background-position: 65 * -16px 0}
.icon-custom-Pikachu {background-position: 66 * -16px 0}
.icon-custom-PinkRibbonLink {background-position: 67 * -16px 0}
.icon-custom-Popoi {background-position: 68 * -16px 0}
.icon-custom-ThePug {background-position: 69 * -16px 0}
.icon-custom-PurpleChest {background-position: 70 * -16px 0}
.icon-custom-Robo-Link9000 {background-position: 71 * -16px 0}
.icon-custom-RoyKoopa {background-position: 72 * -16px 0}
.icon-custom-Rumia {background-position: 73 * -16px 0}
.icon-custom-Samus {background-position: 74 * -16px 0}
.icon-custom-SantaLink {background-position: 75 * -16px 0}
.icon-custom-ShadowSakura {background-position: 76 * -16px 0}
.icon-custom-SodaCan {background-position: 77 * -16px 0}
.icon-custom-HyruleSoldier {background-position: 78 * -16px 0}
.icon-custom-SonictheHedgehog {background-position: 79 * -16px 0}
.icon-custom-Sora {background-position: 80 * -16px 0}
.icon-custom-Squirtle {background-position: 81 * -16px 0}
.icon-custom-StaticLink {background-position: 82 * -16px 0}
.icon-custom-SuperBunny {background-position: 83 * -16px 0}
.icon-custom-SuperMeatBoy {background-position: 84 * -16px 0}
.icon-custom-Swatchy {background-position: 85 * -16px 0}
.icon-custom-TerraEsper {background-position: 86 * -16px 0}
.icon-custom-Tile {background-position: 87 * -16px 0}
.icon-custom-Tingle {background-position: 88 * -16px 0}
.icon-custom-Toad {background-position: 89 * -16px 0}
.icon-custom-TrogdortheBurninator {background-position: 90 * -16px 0}
.icon-custom-TwilightPrincessZelda {background-position: 91 * -16px 0}
.icon-custom-Valeera {background-position: 92 * -16px 0}
.icon-custom-Vitreous {background-position: 93 * -16px 0}
.icon-custom-Vivi {background-position: 94 * -16px 0}
.icon-custom-Will {background-position: 95 * -16px 0}
.icon-custom-Wizzrobe {background-position: 96 * -16px 0}
.icon-custom-YunicaTovah {background-position: 97 * -16px 0}
.icon-custom-Zelda {background-position: 98 * -16px 0}
.icon-custom-ZeroSuitSamus {background-position: 99 * -16px 0}
.icon-custom-Zora {background-position: 100 * -16px 0}
