.sprite-icons {
	padding: 5px 12px !important; // override bs-select
}

// montage *.spr.png -tile x1 -background none -geometry +0+0 sprites.1.png
[class^="icon-custom-"],
[class*=" icon-custom-"] {
	width: 16px;
	height: 24px;
	vertical-align: bottom;
	background-image: url("http://a4482918739889ddcb78-781cc7889ba8761758717cf14b1800b4.r32.cf2.rackcdn.com/sprites.2.png");
}

.icon-custom-Random {background-postion: 0 0}
.icon-custom-Boo {background-position : 1 * -16px 0}
.icon-custom-Boy {background-position : 2 * -16px 0}
.icon-custom-CatBoo {background-position : 3 * -16px 0}
.icon-custom-DarkLink {background-position : 4 * -16px 0}
.icon-custom-Decidueye {background-position : 5 * -16px 0}
.icon-custom-DemonLink {background-position : 6 * -16px 0}
.icon-custom-Frog {background-position : 7 * -16px 0}
.icon-custom-Girl {background-position : 8 * -16px 0}
.icon-custom-InvisibleMan {background-position : 9 * -16px 0}
.icon-custom-Link {background-position : 10 * -16px 0}
.icon-custom-Pony {background-position : 11 * -16px 0}
.icon-custom-MapleQueen {background-position : 12 * -16px 0}
.icon-custom-MikeJones {background-position : 13 * -16px 0}
.icon-custom-MinishCapLink {background-position : 14 * -16px 0}
.icon-custom-Mog {background-position : 15 * -16px 0}
.icon-custom-OldMan {background-position : 16 * -16px 0}
.icon-custom-Rumia {background-position : 17 * -16px 0}
.icon-custom-Samus {background-position : 18 * -16px 0}
.icon-custom-SuperBunny {background-position : 19 * -16px 0}
.icon-custom-Swatchy {background-position : 20 * -16px 0}
.icon-custom-Toad {background-position : 21 * -16px 0}
.icon-custom-Wizzrobe {background-position : 22 * -16px 0}
.icon-custom-Zelda {background-position : 23 * -16px 0}
.icon-custom-Zora {background-position : 24 * -16px 0}
