// montage *.spr.png -tile x1 -background none -geometry +0+0 sprites.1.png
[class^="icon-custom-"],
[class*=" icon-custom-"] {
	width: 16px;
	height: 24px;
	vertical-align: bottom;
	background-image: url("https://s3.us-east-2.amazonaws.com/alttpr/sprites.30.png");
}

.icon-custom-Random {background-postion: 0 0}
.icon-custom-Link {background-position: percentage((1-149)/148) 0}
.icon-custom-FourSwordsLink {background-position: percentage((2-149)/148) 0}
.icon-custom-Arrghus {background-position: percentage((3-149)/148) 0}
.icon-custom-Beau {background-position: percentage((4-149)/148) 0}
.icon-custom-Bewp {background-position: percentage((5-149)/148) 0}
.icon-custom-BigKey {background-position: percentage((6-149)/148) 0}
.icon-custom-BlacksmithLink {background-position: percentage((7-149)/148) 0}
.icon-custom-Bob {background-position: percentage((8-149)/148) 0}
.icon-custom-Boo2 {background-position: percentage((9-149)/148) 0}
.icon-custom-Boo {background-position: percentage((10-149)/148) 0}
.icon-custom-Broccoli {background-position: percentage((11-149)/148) 0}
.icon-custom-Bronzor {background-position: percentage((12-149)/148) 0}
.icon-custom-BSBoy {background-position: percentage((13-149)/148) 0}
.icon-custom-BSGirl {background-position: percentage((14-149)/148) 0}
.icon-custom-Cactuar {background-position: percentage((15-149)/148) 0}
.icon-custom-CasualZelda {background-position: percentage((16-149)/148) 0}
.icon-custom-MarvintheCat {background-position: percentage((17-149)/148) 0}
.icon-custom-CatBoo {background-position: percentage((18-149)/148) 0}
.icon-custom-CD-iLink {background-position: percentage((19-149)/148) 0}
.icon-custom-Celes {background-position: percentage((20-149)/148) 0}
.icon-custom-CheepCheep {background-position: percentage((21-149)/148) 0}
.icon-custom-Cirno {background-position: percentage((22-149)/148) 0}
.icon-custom-Clifford {background-position: percentage((23-149)/148) 0}
.icon-custom-Conker {background-position: percentage((24-149)/148) 0}
.icon-custom-Cursor {background-position: percentage((25-149)/148) 0}
.icon-custom-DarkBoy {background-position: percentage((26-149)/148) 0}
.icon-custom-DarkGirl {background-position: percentage((27-149)/148) 0}
.icon-custom-DarkLinkTunic {background-position: percentage((28-149)/148) 0}
.icon-custom-DarkLink {background-position: percentage((29-149)/148) 0}
.icon-custom-DarkSwatchy {background-position: percentage((30-149)/148) 0}
.icon-custom-DarkZelda {background-position: percentage((31-149)/148) 0}
.icon-custom-DarkZora {background-position: percentage((32-149)/148) 0}
.icon-custom-Deadrock {background-position: percentage((33-149)/148) 0}
.icon-custom-Decidueye {background-position: percentage((34-149)/148) 0}
.icon-custom-DemonLink {background-position: percentage((35-149)/148) 0}
.icon-custom-Dragonite {background-position: percentage((36-149)/148) 0}
.icon-custom-Eggplant {background-position: percentage((37-149)/148) 0}
.icon-custom-EmoSaru {background-position: percentage((38-149)/148) 0}
.icon-custom-FoxLink {background-position: percentage((39-149)/148) 0}
.icon-custom-FrogLink {background-position: percentage((40-149)/148) 0}
.icon-custom-Ganondorf {background-position: percentage((41-149)/148) 0}
.icon-custom-Garfield {background-position: percentage((42-149)/148) 0}
.icon-custom-Goomba {background-position: percentage((43-149)/148) 0}
.icon-custom-GrandPOOBear {background-position: percentage((44-149)/148) 0}
.icon-custom-GruncleStan {background-position: percentage((45-149)/148) 0}
.icon-custom-HeadlessLink {background-position: percentage((46-149)/148) 0}
.icon-custom-HoarderBush {background-position: percentage((47-149)/148) 0}
.icon-custom-HoarderPot {background-position: percentage((48-149)/148) 0}
.icon-custom-HoarderRock {background-position: percentage((49-149)/148) 0}
.icon-custom-HomerSimpson {background-position: percentage((50-149)/148) 0}
.icon-custom-HyruleKnight {background-position: percentage((51-149)/148) 0}
.icon-custom-Ignignokt {background-position: percentage((52-149)/148) 0}
.icon-custom-Inkling {background-position: percentage((53-149)/148) 0}
.icon-custom-InvisibleLink {background-position: percentage((54-149)/148) 0}
.icon-custom-Jogurt {background-position: percentage((55-149)/148) 0}
.icon-custom-Kecleon {background-position: percentage((56-149)/148) 0}
.icon-custom-Kholdstare {background-position: percentage((57-149)/148) 0}
.icon-custom-Kirby {background-position: percentage((58-149)/148) 0}
.icon-custom-Kore8 {background-position: percentage((59-149)/148) 0}
.icon-custom-Lakitu {background-position: percentage((60-149)/148) 0}
.icon-custom-HatColorLink {background-position: percentage((61-149)/148) 0}
.icon-custom-TunicColorLink {background-position: percentage((62-149)/148) 0}
.icon-custom-Pony {background-position: percentage((63-149)/148) 0}
.icon-custom-Luigi {background-position: percentage((64-149)/148) 0}
.icon-custom-Magus {background-position: percentage((65-149)/148) 0}
.icon-custom-Maiden {background-position: percentage((66-149)/148) 0}
.icon-custom-MangaLink {background-position: percentage((67-149)/148) 0}
.icon-custom-MapleQueen {background-position: percentage((68-149)/148) 0}
.icon-custom-MarioClassic {background-position: percentage((69-149)/148) 0}
.icon-custom-MarioandCappy {background-position: percentage((70-149)/148) 0}
.icon-custom-MarisaKirisame {background-position: percentage((71-149)/148) 0}
.icon-custom-Meatwad {background-position: percentage((72-149)/148) 0}
.icon-custom-MegamanX {background-position: percentage((73-149)/148) 0}
.icon-custom-MikeJones {background-position: percentage((74-149)/148) 0}
.icon-custom-MinishCapLink {background-position: percentage((75-149)/148) 0}
.icon-custom-missingno {background-position: percentage((76-149)/148) 0}
.icon-custom-ModernLink {background-position: percentage((77-149)/148) 0}
.icon-custom-Mog {background-position: percentage((78-149)/148) 0}
.icon-custom-Mouse {background-position: percentage((79-149)/148) 0}
.icon-custom-PowerUpwithPrideMushroom {background-position: percentage((80-149)/148) 0}
.icon-custom-NatureLink {background-position: percentage((81-149)/148) 0}
.icon-custom-Navi {background-position: percentage((82-149)/148) 0}
.icon-custom-NegativeLink {background-position: percentage((83-149)/148) 0}
.icon-custom-NESLink {background-position: percentage((84-149)/148) 0}
.icon-custom-NessEarthbound {background-position: percentage((85-149)/148) 0}
.icon-custom-OldMan {background-position: percentage((86-149)/148) 0}
.icon-custom-Ori {background-position: percentage((87-149)/148) 0}
.icon-custom-OutlineLink {background-position: percentage((88-149)/148) 0}
.icon-custom-ParallelWorldsLink {background-position: percentage((89-149)/148) 0}
.icon-custom-PenguinLink {background-position: percentage((90-149)/148) 0}
.icon-custom-PhoenixWright {background-position: percentage((91-149)/148) 0}
.icon-custom-Pikachu {background-position: percentage((92-149)/148) 0}
.icon-custom-PinkRibbonLink {background-position: percentage((93-149)/148) 0}
.icon-custom-PlagueKnight {background-position: percentage((94-149)/148) 0}
.icon-custom-Pokey {background-position: percentage((95-149)/148) 0}
.icon-custom-Popoi {background-position: percentage((96-149)/148) 0}
.icon-custom-PrideLink {background-position: percentage((97-149)/148) 0}
.icon-custom-Psyduck {background-position: percentage((98-149)/148) 0}
.icon-custom-ThePug {background-position: percentage((99-149)/148) 0}
.icon-custom-PurpleChest {background-position: percentage((100-149)/148) 0}
.icon-custom-RainbowLink {background-position: percentage((101-149)/148) 0}
.icon-custom-Robo-Link9000 {background-position: percentage((102-149)/148) 0}
.icon-custom-RoyKoopa {background-position: percentage((103-149)/148) 0}
.icon-custom-Rumia {background-position: percentage((104-149)/148) 0}
.icon-custom-Ryu {background-position: percentage((105-149)/148) 0}
.icon-custom-SailorMoon {background-position: percentage((106-149)/148) 0}
.icon-custom-Samus {background-position: percentage((107-149)/148) 0}
.icon-custom-SantaLink {background-position: percentage((108-149)/148) 0}
.icon-custom-Scholar {background-position: percentage((109-149)/148) 0}
.icon-custom-ShadowSakura {background-position: percentage((110-149)/148) 0}
.icon-custom-Shantae {background-position: percentage((111-149)/148) 0}
.icon-custom-Shuppet {background-position: percentage((112-149)/148) 0}
.icon-custom-ShyGuy {background-position: percentage((113-149)/148) 0}
.icon-custom-SNESController {background-position: percentage((114-149)/148) 0}
.icon-custom-SodaCan {background-position: percentage((115-149)/148) 0}
.icon-custom-HyruleSoldier {background-position: percentage((116-149)/148) 0}
.icon-custom-SonictheHedgehog {background-position: percentage((117-149)/148) 0}
.icon-custom-Sora {background-position: percentage((118-149)/148) 0}
.icon-custom-Squirtle {background-position: percentage((119-149)/148) 0}
.icon-custom-StaticLink {background-position: percentage((120-149)/148) 0}
.icon-custom-SuperBunny {background-position: percentage((121-149)/148) 0}
.icon-custom-SuperMeatBoy {background-position: percentage((122-149)/148) 0}
.icon-custom-Swatchy {background-position: percentage((123-149)/148) 0}
.icon-custom-TeaTime {background-position: percentage((124-149)/148) 0}
.icon-custom-TerraEsper {background-position: percentage((125-149)/148) 0}
.icon-custom-Thief {background-position: percentage((126-149)/148) 0}
.icon-custom-Tile {background-position: percentage((127-149)/148) 0}
.icon-custom-Tingle {background-position: percentage((128-149)/148) 0}
.icon-custom-TMNT {background-position: percentage((129-149)/148) 0}
.icon-custom-Toad {background-position: percentage((130-149)/148) 0}
.icon-custom-Toadette {background-position: percentage((131-149)/148) 0}
.icon-custom-TotemLinks {background-position: percentage((132-149)/148) 0}
.icon-custom-TrogdortheBurninator {background-position: percentage((133-149)/148) 0}
.icon-custom-TPZelda {background-position: percentage((134-149)/148) 0}
.icon-custom-Ultros {background-position: percentage((135-149)/148) 0}
.icon-custom-Valeera {background-position: percentage((136-149)/148) 0}
.icon-custom-VanillaLink {background-position: percentage((137-149)/148) 0}
.icon-custom-Vitreous {background-position: percentage((138-149)/148) 0}
.icon-custom-Vivi {background-position: percentage((139-149)/148) 0}
.icon-custom-Vivian {background-position: percentage((140-149)/148) 0}
.icon-custom-Will {background-position: percentage((141-149)/148) 0}
.icon-custom-wixB {background-position: percentage((142-149)/148) 0}
.icon-custom-Wizzrobe {background-position: percentage((143-149)/148) 0}
.icon-custom-YunicaTovah {background-position: percentage((144-149)/148) 0}
.icon-custom-Zandra {background-position: percentage((145-149)/148) 0}
.icon-custom-Zelda {background-position: percentage((146-149)/148) 0}
.icon-custom-ZeroSuitSamus {background-position: percentage((147-149)/148) 0}
.icon-custom-Zora {background-position: percentage((148-149)/148) 0}
