
// Fonts
@import url('https://fonts.googleapis.com/css?family=Cabin|Schoolbell:300,400,600');

// Variables
@import 'variables';

@import 'sprites';
@import 'loader';

@import "equipment";

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/bootstrap-toggle/css/bootstrap-toggle';
@import 'node_modules/bootstrap-select/sass/bootstrap-select';
@import 'navbar-fixed-side';
@import 'node_modules/select2/dist/css/select2';
@import 'node_modules/select2-bootstrap-theme/dist/select2-bootstrap';
@import 'node_modules/bootstrap-slider/dist/css/bootstrap-slider';

body {
	background-color: #EEEEEE;
}

h4, .h4, h5, .h5 {
  font-weight: bold;
}

.panel-heading-sticky {
	position: sticky;
	top: 58px;
	z-index: 1100;
}

.panel-sticky {
	position: sticky;
	top: 0;
	z-index: 1000;
}

.navbar-brand {
	padding: 0;
}

.no-resize {
	resize: none;
}

.btn-secondary {
	background-color: #FF0000;
	border-color: #FF0000;
	border-image: none;
	color: #FFFFFF;
}

.btn-secondary:hover {
	background-color: #C10B0B;
	border-color: #C10B0B;
	color: #FFFFFF;
}

.btn-wrapper {
	display: flex;
	justify-content: stretch;
	padding: 0 140px;
}

.btn-cta {
	flex: 1 0 0px;
}

.btn-cta .btn {
	width: 100%;
}

.btn-xl {
	width: 33%;
}

.btn-flex {
	align-content: stretch;
	align-items: stretch;
	display: flex;
}

.btn-flex .btn:first-child {
	flex-grow: 1;
	text-align: left;
}

.btn-file {
	overflow: hidden;
	position: relative;
}
.btn-file input[type=file] {
	background: white;
	cursor: inherit;
	display: block;
	filter: alpha(opacity=0);
	font-size: 100px;
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	outline: none;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}

.cust-tooltip {
	color: #3097D1;
	padding-left: 2px;
}

.options-tooltip {
	color: #3097D1;
	padding-left: 5px;
}

.input-group-addon .cust-tooltip {
	padding-left: 5px;
}

.panel-heading-btn h3 {
	line-height: normal;
	overflow: hidden;
	padding-top: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.spoiler {
	border: 1px solid #808080;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.spoiler-toggle {
	color: #808080;
	cursor: default;
	font-size: 10px;
	font-weight: bold;
	padding: 5px;
}
.spoiler-text {
	padding: 5px;
}
.pulse {
	animation: pulse 4s infinite;
	border-radius: 50%;
}
.pulse:hover {
	animation: none;
}
.pb-5 {
	padding-bottom: 15px;
}

.handwritten {
	font-family: "Schoolbell", serif;
}
.prose {
	font-size: 16px;
	font-weight: 600;
	background-color: #f8f5de;
	background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
	box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
	color: rgba(0,0,0,0.75);
	letter-spacing: 0.05em;
	line-height: 1.8;
	padding: 25px;
}

.alternate-color span:nth-of-type(even) {
	color: green;
}
.alternate-color span:nth-of-type(odd) {
	color: red;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
		box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
		box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
		box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
	}
}

input[readonly].custom-placed {
	background-color:transparent;
	border: 0;
	font-size: 1em;
}

.running-now {
	color: red;
	font-weight: bold;
}

.tbody-striped {
  > tbody {
 	> tr {
    	background-color: $table-bg-accent;
  	}
    > tr:nth-of-type(odd) {
    	background-color: inherit;
  	}
  }
  > tbody:nth-of-type(odd){
 	> tr {
    	background-color: inherit;
  	}
    > tr:nth-of-type(odd) {
    	background-color: $table-bg-accent;
  	}
  }
}

.table-secondary {
	background-color: #EEEEEE;
}

.table-hover>tbody>tr:hover {
	background-color: #D6D8DB;
}

.center {
	text-align: center;
}
