
// Fonts
@import url('https://fonts.googleapis.com/css?family=Cabin:300,400,600');

// Variables
@import "variables";

@import "sprites";
@import "loader";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-toggle/css/bootstrap-toggle";
@import "node_modules/bootstrap-select/sass/bootstrap-select";
@import 'navbar-fixed-side';

body {
	background-color: #EEEEEE;
}

.navbar-brand {
	padding: 0;
}

.btn-flex {
	display: flex;
	align-items: stretch;
	align-content: stretch;
}

.btn-flex .btn:first-child {
	flex-grow: 1;
	text-align: left;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.panel-heading-btn h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
	padding-top: 8px;
}

.spoiler {
	border: 1px solid #808080;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.spoiler-toggle {
	font-weight: bold;
	cursor: default;
	padding: 5px;
	font-size: 10px;
	color: #808080;
}
.spoiler-text {
	padding: 5px;
}
.pulse {
	border-radius: 50%;
	animation: pulse 4s infinite;
}
.pulse:hover {
	animation: none;
}
.pb-5 {
	padding-bottom: 15px;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
		box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
		box-shadow: 0 0 0 10px rgba(200, 200, 200, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
		box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
	}
}

input[readonly].custom-placed {
	background-color:transparent;
	border: 0;
	font-size: 1em;
}
