
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-toggle/css/bootstrap-toggle";
@import "node_modules/bootstrap-select/sass/bootstrap-select";

body {
	background-color: #EEEEEE;
	padding-top: 70px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.spoiler {
	border: 1px solid #808080;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.spoiler-toggle {
	font-weight: bold;
	cursor: default;
	padding: 5px;
	font-size: 10px;
	color: #808080;
}
.spoiler-text {
	padding: 5px;
}
